[2019-03-19 16:00] #758 closed

[2019-03-23 21:41] CupCakeArmy commented on #753
@ebozduman Thanks for looking into it. Sry for getting back to you so late, I was away and just came back.

My versions
`"minio": "^7.0.5"`
`"@types/minio": "^7.0.1",`

[code]

this is all the code if tit helps. `this.client` has type `Minio.Client`

[2019-03-25 18:57] ebozduman commented on #753
Thank you @theaklair @CupCakeArmy
I'll look into it.

[2019-03-26 20:30] kannappanr commented on #757
Here is the PR https://github.com/minio/minio-js/pull/759

[2019-04-01 00:12] alpapan opened #761 "doc broken link"
Hello

The bucketpolicy link on the [documentation](https://docs.minio.io/docs/javascript-client-api-reference#setBucketPolicy) is broken.

It redirects here: https://github.com/minio/minio/blob/master/docs/bucket/policy/README.md

[2019-04-01 18:12] #761 closed

[2019-04-05 17:39] #722 closed

[2019-04-15 09:02] ndxbn opened #763 "`fPutObject` does not detect content-type automatically"
https://github.com/minio/minio-js/blob/master/examples/fput-object.js#L38-L46

`fPutObject` should detect  content-type automatically, but after https://github.com/minio/minio-js/pull/698 , it doesn't work.

[2019-04-15 10:52] nitisht commented on #763
Thanks for reporting @ndxbn we'll take a look

[2019-04-16 17:11] kaankabalak commented on #763
We also would need to update the example file as it only applies for the versions before #698 came in

[2019-04-23 23:15] #763 closed

[2019-04-29 09:59] jefvel opened #766 "Content-Language metadata in functional tests are invalid for GCS backend"
Currently the `Content-Language` header is set to `123` in the functional tests. When using GCS as a backend, the test will fail:
[code]

As seen here, only `ISO 639-1` language codes are accepted: https://cloud.google.com/storage/docs/metadata#content-language

It should be changed to a valid value, for example `en`

[2019-04-30 17:04] kannappanr commented on #766
@jefvel Thanks for the PR, we have merged #768, so closing this issue.

[2019-04-30 17:04] #766 closed

[2019-05-06 15:20] JonasT commented on #514
@harshavardhana it is very uncommon for docker services that they aren't aware of their own publicly reachable URL/host to return proper URLs directly. so since nobody has suggested it yet, I suggest to revisit this based on that fact, if alone that most other containers have such an option and I just spend a while googling around assuming I was blind until I found this here

in addition, this see

[2019-05-08 11:09] realivanjx opened #769 "Cannot read property 'Client' of undefined"
I'm simply tried to follow the tutorial. When im trying to do:
[code]
I got this error `TypeError: Cannot read property 'Client' of undefined`

Installation:
[code]

VS Code intellisense works, installation good, but when trying to run i just stuck with that error.

[2019-05-08 14:27] kanagarajkm commented on #769
@realivanjx i couldn't find any docs which refer this `import Minio from 'minio';`, can you please give the link?

[2019-05-08 14:27] kanagarajkm commented on #769
@realivanjx i couldn't find any docs which refer this `import Minio from 'minio';`, can you please give the link?

[2019-05-08 21:16] realivanjx commented on #769
Hm, wait. This works:
`import * as Minio from 'minio';`
instead of:
`import Minio from 'minio;`

I think it is better to put this in the doc. Thanks for your time...

[2019-05-08 21:16] #769 closed

[2019-05-08 21:17] kanagarajkm commented on #769
@realivanjx this happens only with `tsc`, will check further and update the docs if required. Thanks.

[2019-05-08 21:17] realivanjx commented on #769
You're welcome :)

[2019-05-24 09:38] jzb1006 opened #770 "removeObject"
Deleting a nonexistent object will also prompt success

[2019-05-24 09:48] nitisht commented on #770
This is as per the S3 Spec @jzb1006 https://stackoverflow.com/questions/30697746/why-does-s3-deleteobject-not-fail-when-the-specified-key-doesnt-exist

Closing this as working as expected, feel free to join us on Slack for more such questions

[2019-05-24 09:48] #770 closed

[2019-06-02 15:58] mlschuh opened #771 "Is it ok to use `makeRequest()` directly?"
I was wondering if it is an ok practice to call `makeRequest()` (inside `src/main/minio.js`) in our source. We would like to use STS and create temporary credentials (AssumeRole) and it would be easier to use the existing client connection that to figure out the signing/auth on our own.

[2019-06-03 01:23] kannappanr commented on #771
In general we recommend people to use `mc` to generate temporary credentials.

cc @krishnasrinivas

[2019-06-03 07:37] krishnasrinivas commented on #771
@mlschuh `makeRequest()` is not documented and is not supposed to be used by applications directly. But if you know what you are doing, it is OK to use it. i.e you will have to be aware that `makeRequest()` may change in future which might brake your application. (If you pin the minio-js version it should be OK)

[2019-06-03 14:24] thomaslange24 opened #772 "multipart upload and presigned urls"
If i understood correctly multipart uploads are handled automatically by the putObject and getObject functions if the objects size is greater than 5 MiB. But what happens when i use a presigned url for uploading a very big object?

[2019-06-03 14:36] mlschuh commented on #771
Using `mc` wouldn’t be ideal as we’re running the JS SDK inside a node app in a docker container so the abstraction would leave me a bit uneasy. I have no problem pinning the version number and verifying any updates that come along.

Would there be any thought behind making some kind of generic request SDK call? There’s been a ton of things added lately that would be nice to access, even if the SD

[2019-06-04 05:02] kannappanr commented on #772
@thomaslange24 I believe you should be able to use `pre-signed urls` to do `multi-part` upload. You might have to do multiple calls like `PutObject Part`, `Complete Multipart Upload`, `Initiate Multipart Upload`  that `minio-js` abstracts

[2019-06-04 05:17] kannappanr commented on #771
@mlschuh Will check internally to see if we can provide you with such a call

[2019-06-04 06:54] thomaslange24 commented on #772
But what would that look like? Minio-js does not have functions like "Complete Multipart Upload", "Initiate Multipart Upload". By abstracting you mean minio-js performs those operations in the background? Can you give an example how i would combine the multiple parts to one object, after i uploaded each part seperately with presigned urls?

[2019-06-05 00:01] kannappanr commented on #771
@mlschuh `makeRequest` is that call. Like explained by @krishnasrinivas , if you can pin the `minio-js` version, it should be OK.

[2019-06-05 00:04] kannappanr commented on #772
@thomaslange24 Are you uploading the objects to `MinIO` or `AWS S3`? If `AWS S3`, you can upload objects of sizes upto 5GB. If it is `MinIO`, I think you can upload objects upto size `5TB`

[2019-06-05 06:37] thomaslange24 commented on #772
I am uploading the objects to MinIO. But i want to be independent of which S3 compatible Object Storage it is. So i am trying stuff to find out whether to use the minio-js or aws-sdk. I need to work with presigned urls just like in the example https://docs.min.io/docs/upload-files-from-browser-using-pre-signed-urls.html. But i still do not understand how to handle big objects as multipart upload w

[2019-06-05 07:07] harshavardhana commented on #772
Yes for other compatible storages the AWS S3 spec level restriction applies, for multipart upload, you are better off using AssumeRole https://github.com/minio/minio/blob/master/docs/sts/assume-role.md like features which allow for rotating credentials such that you don't have to deal with complexities of pre-signed URLs anymore.

[2019-06-05 07:22] thomaslange24 commented on #772
I am not sure if i really understand how this can help me. My initial problem was, that i can not use minio-js in the browser (on client side) according to the discussion https://github.com/minio/minio-js/issues/729. So i started using presigned urls.
Now, AssumeRole gives me temporary credentials for the client. And since i can not use minio-js in the browser, am i forced to use the aws-sdk inste

[2019-06-05 07:38] harshavardhana commented on #772
AssumeRole is implemented as per AWS STS implementation so yes aws-sdk will support this.

[2019-06-05 07:40] thomaslange24 commented on #772
But again, that means i am not able to use the minio client if i want to do it this way?

[2019-06-05 07:48] thomaslange24 commented on #772
I mean using the client sdk in the browser with the temporary credentials.

[2019-06-05 13:36] mlschuh commented on #771
Works for me! Closing as I now have an answer.

[2019-06-05 13:36] #771 closed

[2019-06-05 16:38] niklaskorz commented on #753
This is a blocking issue, any progress on adding this very small change to the typings?

[2019-06-06 08:49] kanagarajkm commented on #753
I have sent a PR to fix the types https://github.com/DefinitelyTyped/DefinitelyTyped/pull/35990

[2019-06-06 08:54] kanagarajkm commented on #753
Sample code to reproduce this issue
1. install packages
[code]
2. Create index.ts with following code
[code]
3. Compile
[code]
4. Following error is thrown
[code]

[2019-06-07 03:26] kanagarajkm commented on #753
@types/minio package is published. I have verified its working fine. We can close this issue.
https://www.npmjs.com/package/@types/minio/v/7.0.2

[2019-06-07 05:10] kannappanr commented on #753
Closing this issue based on the above comment.

[2019-06-07 05:10] #753 closed

[2019-06-07 09:52] thomaslange24 commented on #772
Well, i tried to use the aws-sdk sts for that perpose, but don't know how to address minio and passing the right user credentials to the provided functions in aws.sts

[2019-06-08 01:57] kannappanr commented on #757
Closing this as #759 has been merged

[2019-06-08 01:57] #757 closed

[2019-06-08 03:09] kannappanr commented on #736
you can use nginx to do this, if you are using it. Here is an example https://gist.github.com/un33k/7119264

Closing this issue now.

[2019-06-08 03:09] #736 closed

[2019-07-01 13:06] PacoDu opened #775 "Can't use setBucketNotification with minio server"
Hi, I can't find a wait to use setBucketNotification with minio server and amqp notifications.

I have a minio server with amqp notification enabled and I can set notification from mc client with:
[code]

But when I try to set notifications from the minio-js client it returns this error:
[code]

I'm unable to reproduce this example with a minio server : https://github.com/minio/minio-js/blob/maste

[2019-07-01 13:33] nitisht commented on #775
Are you saying this works with MinIO but not with AWS S3?

[2019-07-01 14:08] PacoDu commented on #775
No, I don't know if this works with AWS (but the example seems written for AWS). I'm only using minio and it doesn't work. It returns the `MinIO server does not support Topic or Cloud Function based notifications.` error, which is strange because I'm able to setup the same notification using mc CLI client.

[2019-07-01 14:14] PacoDu commented on #775
This works:
[code]

This doesn't work:
[code]

[2019-07-01 14:26] PacoDu commented on #775
With additional logs:
[code]

[2019-07-01 14:58] PacoDu commented on #775
I finally find the issue after digging in the source code.

I have to use `minio.QueueConfig` instead of `minio.TopicConfig`, I think this should be documented in the official minio doc, we faced the issue with javascript and python clients.

[2019-07-01 18:22] kannappanr commented on #775
MinIO doesn't support `TopicConfig`, the examples were written for generic S3 servers. I agree that we should change the examples to use `QueueConfig` instead of `Topicconfig`, so users can verify it with `MinIO` instead of `AWS S3`

[2019-07-02 07:50] thomaslange24 opened #776 "when will minio play be available again?"
Hi, currently minio play can not be reached. When will it be available again?

[2019-07-02 08:14] kannappanr commented on #776
@thomaslange24 Thanks for reporting we will check what is going on with it

[2019-07-02 09:35] #776 closed

[2019-07-02 09:35] harshavardhana commented on #776
Fixed @thomaslange24

[2019-07-03 08:27] thomaslange24 opened #777 "Minio play still not available"
Hi, minio play is still not available. when executing the command "mc admin info play" it says offline.

[2019-07-03 08:28] nitisht commented on #777
Just checked @thomaslange24 Play is available

[code]

[2019-07-03 08:31] thomaslange24 commented on #777
when i run it, it says offline. Maybe i should reinstall the minio client?
Also trying to access minio play in the browser does not work for me.

[2019-07-03 08:32] nitisht commented on #777
Does this work `ping play.minio.io`?

[2019-07-03 08:34] thomaslange24 commented on #777
Yes, it seems to work
![snapshot](https://user-images.githubusercontent.com/18648000/60576655-22651200-9d7e-11e9-9a16-3e95758bd0c2.PNG)

[2019-07-03 08:37] nitisht commented on #777
Do you have `mc` alias set? Can you try `mc config host list` as paste the results after removing credentials

[2019-07-03 08:42] thomaslange24 commented on #777
isn't the alias for minio play set per default?
![Capture](https://user-images.githubusercontent.com/18648000/60577230-407f4200-9d7f-11e9-9ac6-590adffb6ef8.PNG)

[2019-07-03 08:45] thomaslange24 commented on #777
I meant mc is pre-configured with play

[2019-07-03 09:12] nitisht commented on #777
Yes, it is. But just wanted to ensure if it is not edited.
Looks like somehow `mc` requests to play are not being sent from the client, because Play is up and running..

[2019-07-03 09:25] thomaslange24 commented on #777
But i can not access the ui in the browser too. So it probably does not have to do with the mc installation

[2019-07-03 14:11] kannappanr commented on #777
@thomaslange24 Play is accessible to me too. Can you try

https://play.min.io on your browser?

[2019-07-03 16:55] thomaslange24 commented on #777
No, that does not work either

[2019-07-03 16:57] harshavardhana commented on #777
@thomaslange24 play is available publicly and working. you must have a local proxy which is disallowing the requests.

We will close this issue.

[2019-07-03 16:57] #777 closed

[2019-07-03 20:19] pedromguerra opened #778 "using `makeRequest()` to get 'assumeRole'"
according to https://github.com/minio/minio-js/issues/771 I'm trying to use makeRequest() to use ''AssumeRole". My code looks like this:
[code]

but I always get this error:
[code]

I tried everithing, some idea what's wrong ?
Thanks in advance

[2019-07-04 01:02] kannappanr commented on #778
@pedromguerra Can you use `mc admin trace` command and verify you are sending same as when you would use `mc`?

[2019-07-05 20:09] maxnordlund commented on #374
I got this just now for eu-north-1, not sure why though as this library doesn't give much information in the error (like the response).

[2019-07-05 20:09] harshavardhana commented on #374
We can only give what server gives and server give enough info apparently @maxnordlund

[2019-07-05 20:42] maxnordlund commented on #374
Darn it. But it would be nice if it could follow redirects, or at least include the `Location` header to see what it wants, right?

[2019-07-05 20:45] harshavardhana commented on #374
Unfortunately, AWS S3 doesn't set the Location header sends as an XML response. The nodejs http package cannot redirect without Location header. So this is a server bug which we can't do much unfortunately.

[2019-07-05 21:12] maxnordlund commented on #374
That is truly a bummer. Would it be possible to attach the response to the error, so you can inspect it in a repl?

[2019-07-08 12:41] shernshiou commented on #726
Hi @deekoder,

Any news on server-side encryption support? If not I will try to make a PR because my project needs this aws-kms feature.

Thanks.

[2019-07-08 13:14] kannappanr commented on #726
@shernshiou please go ahead and send a PR

[2019-07-09 08:16] thomaslange24 opened #779 "multipart upload with MD5 checksum"
Hi,
I would like to use the multipart upload of EvaporateJS. In the Docs they strongly recommend to enable the MD5 checksum calculation to ensure, that the uploaded parts are not corrupted. But doing so gives me an error response when trying to upload to a minio server:
SignatureDoesNotMatch The request signature we calculated does not match the signature you provided. Check your key and signing m

[2019-07-09 08:22] thomaslange24 commented on #779
I am calculating the signature version 4 like so:

`const timestamp = req.query.datetime.substr(0, 8);

  const date = hmac('AWS4' + 'password', timestamp);
  const region = hmac(date, 'us-east-1');
  const service = hmac(region, 's3');
  const signing = hmac(service, 'aws4_request');

  res.send(hexhmac(signing, req.query.to_sign));`

[2019-07-10 06:03] krishnasrinivas commented on #779
@thomaslange24 can you try with AWS-S3 and see if it works? I suspect that your signature calculation is not correct.

Minio supports content-md5.

[2019-07-10 10:02] thomaslange24 commented on #779
Well, then ist must be something about the signature calculation. But for that i am just following the examples from Internet like this one:
[https://github.com/TTLabs/EvaporateJS/blob/master/example/awsv4_signing_example.js](url)
Could you try it and say why the SignatureDoesNotMatch Error does occur? Or how to prefent?
[example.zip](https://github.com/minio/minio-js/files/3376928/example.zip)

[2019-07-10 10:10] thomaslange24 commented on #779
I know there is an example for evaporatejs and minio. But that uses an selfedited evaporatejs version with md5 content disabled. This does not generate the signature error. But i would prefer to use the evaporatejs module installed by npm instead with md5 content enabled. But for me that does not work because of the signature issue.

[2019-07-10 10:18] thomaslange24 commented on #779
Also here is the log from teh web console if that helps.
[log.zip](https://github.com/minio/minio-js/files/3376984/log.zip)

[2019-07-17 03:47] kaankabalak commented on #779
@thomaslange24 Seems like you are having the problem highlighted [here](https://github.com/TTLabs/EvaporateJS/issues/317). Could you try running your MinIO server on port 80 (using `--address=":80"`) and check if that works if possible? Thanks in advance and please keep us updated.

[2019-07-17 14:23] mlschuh commented on #778
@kannappanr I'm working with @pedromguerra on this. It doesn't look like `mc` has any facility for Assume Role to be able to mimic. When we went further and tried with the AWS JS SDK, it is now returning `AccessDenied: Generating temporary credentials not allowed for this request.`. We are using the global key and secret.

We're also looking into adding and removing users manually but the `makeReq

[2019-07-18 08:10] oratck opened #780 "S3Error: 413"
Hi,

I found error while uploading this file. It was happened both by upload via MinIO Browser and put object by this lib.

- MinIO Browser : Stuck at 100%
- Put Object: S3Error: 413

![99800359-ee3d-49f7-b746-2722a0f98816](https://user-images.githubusercontent.com/23364833/61439672-255e2600-a96c-11e9-8741-8fbd54197407.gif)

[2019-07-18 08:27] nitisht commented on #780
what is the minio server version here @oratck ?

[2019-07-18 09:59] oratck commented on #780
@nitisht

<img width="596" alt="Screen Shot 2562-07-18 at 16 55 16" src="https://user-images.githubusercontent.com/23364833/61448568-51ce6e00-a97d-11e9-8868-bce51754ae2c.png">
<img width="596" alt="Screen Shot 2562-07-18 at 16 56 05" src="https://user-images.githubusercontent.com/23364833/61448570-52670480-a97d-11e9-8d09-a63d8cb47cae.png">

[2019-07-18 10:04] kishore0709 opened #781 "Getting type error"
I'm using below script to upload objects to s3 bucket, but getting type error.
Please help resolev the issue. Thanks!
[code]

[2019-07-18 11:31] nitisht commented on #780
can you update the MinIO server to latest and try again. This issue was fixed already AFAIK.

[2019-07-19 18:23] kannappanr commented on #780
@oratck I was unable to reproduce this issue against the minio version `2019-03-27...` I used the web browser.

[2019-07-22 04:51] kannappanr commented on #781
Please take a look at `minio-js` examples here https://github.com/minio/minio-js/tree/master/examples

Please also look at the documentation at https://docs.min.io/docs/javascript-client-api-reference.html

Here is an example that will work

[code]
Closing the issue now. Please reach out to us at https://slack.min.io for such questions.

[2019-07-22 04:51] #781 closed

[2019-07-22 05:52] kirick1 opened #782 "presignedPostPolicy Content-Type checking"
I am trying to upload files to my bucket using this method:
[code]
Created policy object in console:
[code]
Created post policy object:
[code]
But when I try to upload any file with content-type, for example _text/csv_ with key `012345678/image.jpg` Minio server responses me with status 204 and everything upload's good without any checking for file content-type and key start's with. How can I add

[2019-07-22 13:45] kannappanr commented on #782
@kirick1 Thanks for filing this issue. This issue is a duplicate of https://github.com/minio/minio/issues/7806 I believe the fix for that issue will fix this one. Please monitor the referenced issue

[2019-07-22 19:16] kannappanr commented on #779
ping @thomaslange24 Can you please let us know if you were able to run MinIO server on port 80 and verify that the MD5 checksum was valid?

[2019-07-23 09:11] thomaslange24 commented on #779
Sorry for replying so late. I could not start minio server on port 80 because of some permission. But starting on 81 i still get the same error.

Again, when i use the edited version of evaporatejs from https://github.com/nitisht/minio-evaporatejs-example/blob/master/evaporate.js this issue does not occur. But i could not see major differences between this one and the regular evaporatejs version i

[2019-07-23 17:48] kaankabalak commented on #779
Hi @thomaslange24, would it be possible to elaborate on what kind of permission issue you have encountered while trying to run MinIO server on port 80?

[2019-07-24 23:30] kannappanr commented on #780
@oratck Closing this issue as stale. Please feel free to re-open this issue when you have more information for us to reproduce this issue

[2019-07-24 23:30] #780 closed

[2019-07-26 20:58] kannappanr commented on #782
@kirick1 closing this issue as duplicate of minio/minio#7806 Please follow the progess of the PR https://github.com/minio/minio/pull/7937 . closing this issue now. Please feel free to let us know if you feel otherwise.

[2019-07-26 20:58] #782 closed

[2019-07-26 23:42] #775 closed

[2019-07-31 00:09] nicholasyih520 opened #784 "Hope improving the api for modifying the metaData of Object"
1. Hope to add a new feature that I can modify the metaData directly of existing Objects.
2. Also, hope that I can modify the metaData of Object when I call copyObject() API.
thanks

[2019-07-31 02:53] kannappanr commented on #784
@nicholasyih520 Thanks for the suggestion. Please feel free to send a PR.

[2019-08-08 07:27] JensPauwels opened #787 "Rename a file with minio js"
Can someone provide an example how to rename a filename in the S3 storage?

I can't find it in the docs or the src code.

Thanks in advance

[2019-08-08 07:40] kannappanr commented on #787
@JensPauwels There is no S3 API to do this. The only thing you can do is to `copy` this object to the new filename and then delete this object

[2019-08-08 07:42] JensPauwels commented on #787
Will there be a rename function in the future? Becuase there's no transactional way to interact with S3 api right?

[2019-08-08 13:02] kannappanr commented on #787
@JensPauwels Yes, they are not transactional in nature. MinIO implements `S3 APIs` which currently doesn't have a rename API.

Closing this now. Please feel free to reach out to us on slack at https://slack.min.io for further such questions.

[2019-08-08 13:02] #787 closed

[2019-08-08 18:45] dottgonzo opened #788 "updating from 7.0.10 to 7.0.11 causes fputobject to hang on big files"
after updating minio client from 7.0.10 to 7.0.11, if i try to upload (with fputobject) big files (80MB), it hangs while upload the file. contextually i've upgraded the node version from 10.16.0 to 10.16.1, but i think that the issues is caused from the minio library. Tomorrow i will say something more

[2019-08-09 03:55] kanagarajkm commented on #788
This has happened due to upgrading `async` to latest (v3.1.0) https://github.com/minio/minio-js/pull/785/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R34

`async.whilst` is changed compared to older version, an example is here
https://caolan.github.io/async/v3/docs.html#whilst

fPutObject uses the older style(https://github.com/caolan/async/blob/v1.5.2/README.md#whilst) of calling `async.whilst` whi

[2019-08-09 07:03] JensPauwels commented on #787
Npm S3 has a build in function to copy and delete objects safely. Is this the libary that you are using?
[code]

[2019-08-09 07:06] harshavardhana commented on #787
There is no safe way to do it @JensPauwels its just two different disconnected operations - they are not locked and not atomic.

[2019-08-09 07:07] JensPauwels commented on #787
And will you implement the moveObject or not?

[2019-08-09 07:08] harshavardhana commented on #787
We will not @JensPauwels

[2019-08-09 11:15] dottgonzo commented on #788
you just noticed the problem and i can confirm that our software works downgrading minio from 7.0.10 to 7.0.11 with the same library context and node version

[2019-08-10 22:54] kannappanr commented on #779
ping @thomaslange24

[2019-08-13 02:44] #788 closed

[2019-08-13 12:30] toovy opened #791 "Possibility to override the host as option in presignedGetObject"
Hi,
I'm having a scenario where a minio instance is accessed both from clients in a local network (e.g. docker swarm) as e.g. http://minio1 and from the internet (e.g. https://minio.customer-friendly-domain.com).

Looking at function https://github.com/minio/minio-js/blob/64d0a7f391b8a831d16debb9416c6017b806118f/src/main/minio.js#L1635 and https://github.com/minio/minio-js/blob/64d0a7f391b8a831d16

[2019-08-13 13:06] toovy commented on #791
Furthermore, it would be great to be able to override the region so that the call to `this.getBucketRegion` is not needed: https://github.com/minio/minio-js/blob/64d0a7f391b8a831d16debb9416c6017b806118f/src/main/minio.js#L1607
This way one could generate the URL without calling the Minio instance (=faster).

[2019-08-13 15:22] kanagarajkm commented on #791
you can pass the region while creating the client https://github.com/minio/minio-js/blob/master/docs/API.md#1--constructor

[2019-08-13 15:27] kanagarajkm commented on #791
if you want to create presignedUrl for a different hostname, you can initialize Minio Client with that hostname. for example

[code]

[2019-08-13 15:39] toovy commented on #791
@kanagarajkm thank you for this workaround, that is a good thing.

From a API design I personally don't like it, as it is kind of misleading for me. I would have to initalised two clients, one that is just for signing and one that does the heavy lifting (like uploading).

Initialising only one client that allows me to override the host & region during the `presignedGetObject` call makes more sense

[2019-08-13 15:39] #791 closed

[2019-08-15 06:36] harshavardhana opened #792 "mint/minio-js fails to run against latest MinIO server in distributed mode"
[code]

[2019-08-15 13:50] imagineLife opened #793 "NoSuchBucket"
Hello there,

**PROBLEM**
I get the NoSuch Bucket, even though the bucket definitely exists. Any Thoughts?

**CURRENTLY**
I can create buckets, create files in buckets, && getObject from buckets.
I am hosting minio locally at the moment.
Below are 2 screenshots, 1 of the code && one of the console.
![Screen Shot 2019-08-15 at 9 43 56 AM](https://user-images.githubusercontent.com/24195040/63098923-

[2019-08-15 16:32] kanagarajkm commented on #793
@imagineLife first argument of presignedUrl function should be `httpMethod`
[code]

[2019-08-15 23:26] kannappanr commented on #793
@imagineLife PTAL https://docs.min.io/docs/javascript-client-api-reference.html#presignedUrl

Please reach out to us on slack at https://slack.min.io for such questions

[2019-08-15 23:26] #793 closed

[2019-08-16 07:49] inovramadani opened #794 "SignatureDoesNotMatch on Minio Server Docker"
Hi,

I got an issue to write/upload image file to bucket using minio-js.
The error says: SignatureDoesNotMatch.
But I can read the existing image files from minio server. Only I can't upload image files.

Environment of minio server is on docker app. I am thinking maybe related to wrong port mapping during write.

How I get it works somehow is by using ngrok to host the server IP address exposing

[2019-08-16 08:01] inovramadani commented on #794
The client on java does not have the problem, as android app works properly on this case. Using exact same minio server on docker app and same backend environment.

[2019-08-16 10:05] kannappanr commented on #794
We will take a look and get back to you

[2019-08-16 11:40] kanagarajkm commented on #794
@inovramadani  Few questions
1. How did you import minio-js into the browser?
2. Can you give the sample code for Minio Client initialization and putObject?
3. Are you using the same client instance for downloading and uploading files to Minio?

[2019-08-19 02:33] inovramadani commented on #794
1 & 2. Please find below the code for minio client.
[code]

3. Yes

[2019-08-19 14:32] inovramadani commented on #794
@kanagarajkm @kannappanr may I know what causes signature does not match usually? How could generated signature doesn't match with minio server signature provided?

[2019-08-21 06:29] kanagarajkm commented on #794
@inovramadani the code works fine for me. Can you get the output of `mc admin trace <ALIAS> -v` when the call fails?

[2019-08-22 01:25] inovramadani commented on #794
@kanagarajkm did you try it on docker environment or minio server on linux?

Not sure where should I put this command?

[2019-08-27 10:08] reessing commented on #778
@mlschuh and @pedromguerra Did you finally succeed using makeRequest() with AssumeRole? I ran into the same question and wondered if you were able to make any headway on this issue?

[2019-08-28 07:01] reessing commented on #778
@mlschuh Thank you for your feedback. Meanwhile, I gathered some insights on this issue. I was about to assume that there is a general problem with the AssumeRole functionality of MinIO when I found out that it is actually possible to generate temporary credentials using `aws-cli` and MinIO.

Later I reproduced the results using the AWS JS SDK. I was able to use the generated temporary credentials

[2019-08-29 06:31] kanagarajkm commented on #794
@inovramadani i have test with docker, it worked fine.

You can read about trace here https://docs.min.io/docs/minio-admin-complete-guide.html#trace

[2019-08-29 13:09] mlschuh commented on #778
For us, one of the biggest problems was that we would need to create a non-super user inside Minio to assume-role from, which requires `mc`. As we very rarely directly interact with Minio on our systems, we would need to automate that process with `mc`. Given that, we have `mc` anyway, we didn't feel a need to introduce the AWS JS SDK beyond that and it forced us to make sure our interaction with

[2019-08-30 03:46] vstung89 opened #795 "MinIO JavaScript Client SDK on React Native"
I need to upload files from a React Native application.
Is there a way to use MinIO JavaScript Client SDK (just putObject) on React Native?
Thanks!

[2019-08-30 06:37] inovramadani commented on #794
Finally found the issue is it doesn't reach minio server on docker when the request is passed through nginx docker. This is more of environment problem. Fixed by mapping the 9000 port directly on minio docker.

[2019-08-30 06:37] #794 closed

[2019-09-02 06:34] ITHcc opened #796 "Can minio.js create folders?"
I didn't see this API in the minio documentation, but i can make folders at buckets in minio Browser

[2019-09-02 06:35] nitisht commented on #796
you can upload objects with prefixes @ITHcc , it will create the prefix inside the bucket

[2019-09-02 06:41] ITHcc commented on #772
What was your final solution?

[2019-09-02 07:25] ITHcc commented on #796
Thanks for your help. My issue is solved

[2019-09-02 07:25] #796 closed

[2019-09-04 06:29] kanagarajkm commented on #795
@vstung89 minio-js is not supported in React Native environment. Instead, you can use aws js sdk to connect to MinIO.

For example,
[code]

[2019-09-12 07:14] pairmix opened #797 "How to transfer AWS buckets to Minio Buckets ?"
What's the correct way?

[2019-09-13 10:44] vstung89 commented on #795
@kanagarajkm Yes, it worked, thank you! Sorry for the late confirmation.

[2019-09-13 14:16] #795 closed

[2019-09-16 12:35] Zazck opened #798 "generate presigned url using the specified hash"
https://github.com/minio/minio-js/blob/6459c82a02fe6dfaeed1f5d870681e1a8733f683/src/main/signing.js#L257

currently presigned put request has a fixed 'UNSIGNED-PAYLOAD' which should be replaced by a real file hash when ' X-Amz-Content-Sha256' was precaculated by browser

I didn't found any other way to change it without modifying the source.

for myself, I wrote following code:
[code]
and for usag

[2019-09-16 13:57] nitisht commented on #798
thanks we'll take a look @Zazck

[2019-09-18 10:51] donnior opened #800 "Support max_keys param for listObjectsV2"
https://github.com/minio/minio-js/blob/13831e1ab265c652df7dec826b3185567a47af17/src/main/minio.js#L1375

Currently the `max_keys` is hard coded to `1000`, can we make it as a param for `listObjectsV2`?

[2019-09-18 14:33] dcversus opened #801 "minio-js ipv6 - family option"
https://github.com/minio/minio-js/blob/master/src/main/minio.js#L155
https://nodejs.org/api/http.html#http_class_http_agent

i want pass `family` param, but pick create problems for it(
mb rm pick here? why we need pick it?

[2019-09-18 16:20] kannappanr commented on #800
@donnior Can you please elaborate why you need `max_keys` parameter? We generally do not want to add too many options.

[2019-09-18 16:38] kannappanr commented on #801
@dcversus Will take a look and get back to you

[2019-09-20 06:28] donnior commented on #800
@kannappanr

We use Minio to store machine learning data, for example the dataset, usually they are huge; so we need to use paging navigation on web for users; but the default `1000` it's not friend to query with paging;

And also, we checked aws s3 js-sdk， it supports `max_keys`； we really appreciate you cloud consider this requirement, thanks!

[2019-09-20 18:34] harshavardhana commented on #800
minio-js lists everything in an iterator @donnior 1000 at a time - are you saying show 1000 elements at a time in slower on UI?

[2019-09-25 20:04] egmen opened #802 "originalname meta with utf-8 symbols"
This code

[code]
throws error
[code]

[2019-09-25 20:12] egmen commented on #802
I've fixed it locally like this:
[code]

[2019-09-26 00:14] kannappanr commented on #802
@egmen Thanks for reporting this issue. We will fix it on our end.

[2019-09-26 11:31] egmen opened #803 "filepath with backslash"
NodeJS 10 on Windows, Minio server on Linux.
This code example:
[code]
throws error
[code]
Could you fix it in a library (maybe on server) or I should write a code, which depends on target OS?

[2019-09-26 14:17] kannappanr commented on #803
@egmen Will take a look and fix it at the appropriate place. Thanks for reporting the issue

[2019-09-27 10:32] sinhaashish commented on #803
If you are using `path.join` then this itself means that it is dependent on OS .
Refer : https://nodejs.org/api/path.html#path_path_join_paths
This states `The path.join() method joins all given path segments together using the platform-specific separator as a delimiter, then normalizes the resulting path.`

Example: `path.join('a','b')` gives the o/p as
[code]
In order to solve this you should be

[2019-09-27 11:56] egmen commented on #803
Thx!
I've read about original S3 API https://docs.aws.amazon.com/en_us/AmazonS3/latest/dev/UsingMetadata.html
There is also such restriction.

[2019-09-27 11:56] #803 closed

[2019-09-30 13:45] Zazck commented on #798
@kanagarajkm
The basic idea is, I would let user browser caculate the file hash before they upload, the filename will be the previously calculated hash, and then send those hashes to other participants who are waiting for the file. They should be able to get the file link(generated by hash) immediately even it's not available, The uploader must then upload the file content that has precalculated h

[2019-10-08 21:52] kaankabalak commented on #801
@dcversus Based on the discussion on #685, the main reason why we used `_.pick` here was that we explicitly wanted the user to be able to pass only certain request options, as otherwise it might've caused the minio-js calls to fail on faulty configurations.

Currently, it is not possible to pass a `family` parameter, however we will work on adding the option to pass it on the `setRequestOptions` m

[2019-10-11 09:43] sinhaashish commented on #778
@mlschuh @reessing @pedromguerra  The `makeRequest()` function signs the request and sends it to server. The server find a mismatch in sign and returns the error. The error is returned from `reqSignatureV4Verify` in the `auth-handler.go` file from minio server.  For `assumeRole` functionality the request need not to be signed , this is specifed in S3 spec as well .  [ Refer](https://docs.aws.amazo

[2019-10-14 16:32] #801 closed

[2019-10-14 21:15] kannappanr commented on #800
Closing this issue based on the above comment.

[2019-10-14 21:15] #800 closed

[2019-10-15 09:54] Praveenrajmani commented on #802
@egmen The SDK should not try to encode the headers. aws sdk fails with the same error.

[code]

So, the work around is to escape/unescape from the user end.

[2019-10-15 09:54] Praveenrajmani commented on #802
We can close this issue @kannappanr

[2019-10-15 23:53] kannappanr commented on #784
@nicholasyih520 Both the requests can be done by your request 2). Closing this issue as it has been stale for a while. Please feel free to send a PR. We are a little short on cycles right now, if you cannot get to it, we will get to it in the near future.

[2019-10-15 23:53] #784 closed

[2019-10-16 14:17] ng-plex opened #806 "Error when use within an Angular 8 project."
I'm trying to use within my Angular 8 project but I get the next errors:

[code]

How can I do to add to my Angular project as a dependency and use it?

My package.json is composed by:

[code]

Then I use in my app.component.ts as follow:

[code]

[2019-10-17 01:06] kannappanr commented on #806
@ng-plex We will take a look and get back to you.

[2019-10-18 07:38] ng-plex commented on #718
I was trying to follow the instruction to add to Angular project but without success:

Step 1. Run `yarn browserify` in the minio-js project.
Step 2. Copy the generated `minio-browser.js`  file from the dist folder to the angular `src/assets/js/minio-browser/minio-browser.js` path.
Step 3. Change the `angular.json` `scripts` to this one:

[code]

The result is the next error message:

![image](htt

[2019-10-21 20:33] kannappanr commented on #802
closing this issue based on the above comments. Please feel free to reach out to us if you have further questions

[2019-10-21 20:33] #802 closed

[2019-10-23 16:07] marcomag89 commented on #718
@ng-plex same problem with same procedure. reopen please!
[code]

[2019-11-01 14:24] wisn opened #809 "`listObjects` function return Stream doesn't emitting `finish` event"
From what I seen, `listObjects` function on the `src/main/minio.js` file doesn't emitting `finish` event.
The problem is that I want to know whether the stream event is finished.

[code]

I want to collect the available objects on the specific bucket.
After all objects completely collected, I want to `return` them.

Based on the code above, the promise will be always pending since the `resolve` is

[2019-11-04 15:49] maertv opened #810 "How to get the MinIO server version?"
It is possible that I missed it while reading the documentation but I did not find a way how to get the MinIO server version via the JavaScript client.

[2019-11-04 16:33] harshavardhana commented on #810
Each request that you send to server - server returns back with `Server:` header which contains server information.

Let's take more questions at https://slack.min.io

[2019-11-04 16:33] #810 closed

[2019-11-04 17:23] maertv commented on #810
Thank you for your prompt reply.

[2019-11-08 18:16] erikburt opened #812 "Signature Error"
### Problem
I'm getting a signing error when using this library (v7.0.12). It happens on both function calls I've tested it with, `fGetObject` and `presignedGetObject`.

### Environment
Minio server is running locally in docker and the image is up-to-date.

I've tested this both on my machine running Windows 10 and inside of a docker container running the up-to-date `node:10` image (debian 9) and

[2019-11-09 16:51] kannappanr commented on #812
@erikburt Are you seeing this issue when you run it against Play?

I tested the following code against `play`, `s3` and `local minio` it works everywhere. Version tested was `7.0.12`

[code]

If you can paste a sample code we can take a look at let you know.

[2019-11-09 20:04] erikburt commented on #812
I'll test this out on Monday when I have access to my work computer.

[2019-11-11 16:35] #812 closed

[2019-11-15 01:42] andpeterson opened #813 "Return types and values should be added to reference API on https://docs.min.io/docs"

[2019-11-15 02:14] harshavardhana commented on #813
Please open issues with more detail, closing this issue.

[2019-11-15 02:14] #813 closed

[2019-11-18 10:30] gouravbns opened #814 "Create New user from MinioClient Python SDK"
I have looked at the whole documentation of Minio and couldn't find method to add new user from Python SDK.
can you please tell me the status for the same.

#Minio #Python #adduser

[2019-11-18 11:27] harshavardhana commented on #814
Not possible from python SDK, we may implement perhaps in future for now use `mc` . Closing this issue.

[2019-11-18 11:27] #814 closed

[2019-11-23 00:14] imyller commented on #809
Try ```stream.on('end', () => resolve(objects));```

`end` and `finish` are the same event but on different types of Streams:
* stream.Readable fires only `end` and never `finish`
* stream.Writable fires `finish` and never `end`

[2019-11-23 13:21] wisn commented on #809
@imyller Thanks to pointing this out. After created this issue, in several minutes later, I actually tried to use `end` event and it is works just fine. Thanks to you now I know the difference between those two.
I think we can close this issue.

[2020-01-08 07:16] mindfocus commented on #806
This means that minio-js supports server mode nodejs and **not** browser mode

[2020-01-08 07:18] harshavardhana commented on #806
@mindfocus most definitely that is what we have always told - browser is only advisory support it is not part of the plan to support browser mode fully.

[2020-01-10 09:01] palmerye commented on #772
I use the [aws-sdk-js](https://github.com/aws/aws-sdk-js) to handle the upload progess.

[code]
### result
[code]

[2020-01-14 19:51] GuillaumeNachury opened #818 "Canned policy not applied when using AssumeRoleWithClientGrants and JS SDK"
## Expected Behavior

When using the JS SDK to sign in a client with temp. credentials - token and policy provided by keycloak- the policy should be applied no matter if it is a  **default** or a **custom** one.

## Current Behavior

When using default policy e.g. `readwrite` everything is ok (I can list the buckets) but when I set the policy to `restricted` (a custom policy I created) I have a `S

[2020-01-14 20:30] GuillaumeNachury commented on #818
Ok, but I don't really understand your reply.
Beside from the issue I'm facing, I can get the JS SDK working with STS. I mean as long as I use default policy.

[2020-01-14 20:53] harshavardhana commented on #818
JS SDK cannot work with STS yet @GuillaumeNachury in future it will but not right now.

[2020-01-14 21:26] carlos00027 opened #819 "how using abort request getObject?"
please help me, give me the example. i don't speak spanish  sorry.

[2020-01-14 21:53] beaulac commented on #569
The specific use-case I'm encountering issues with involves using a virtual getter in Mongoose to automatically populate signed URLs. Unfortunately these getters cannot be async 😭

It would really be helpful to have an exposed synchronous method that allows providing `region` as an argument. The async method would just have to call this one in the `getBucketRegion` callback – this shouldn't have a

[2020-01-15 07:28] dcharbonnier commented on #569
Here is a "solution/hack" I'm using since 4 years @beaulac

[code]

[2020-01-16 01:09] kannappanr commented on #819
@carlos00027 You should be able to use destroy() on the get stream . Closing this issue. Please feel free to reach out to us at https://slack.min.io for such questions.

[2020-01-16 01:09] #819 closed

[2020-01-16 09:36] GuillaumeNachury commented on #818
Thank you @harshavardhana .
Can you point me a MinioSDK that supports STS ?

[2020-01-16 09:37] harshavardhana commented on #818
@GuillaumeNachury https://github.com/minio/minio-go/blob/master/pkg/credentials/sts_client_grants.go

[2020-01-16 09:59] harshavardhana commented on #818
in minio-js that's not allowed in minio-go it is allowed using the credential.Credentials structure look at the method *minio.NewWithCredentials*

[2020-01-16 10:02] GuillaumeNachury commented on #818
Perfect.
Thank you.

[2020-01-20 14:06] Menci opened #820 "SignatureDoesNotMatch when using response-content-disposition with presignedGetObject"
Create a local MinIO server with a `testfile` in a `testbucket`.

[code]

The first `content-disposition` is correct according to RFC 5987. But generated link returns a SignatureDoesNotMatch error. The second is removing some special characters from the first, its link is downloadable.

[2020-01-20 16:43] kannappanr commented on #820
@Menci Thanks for filing the issue, we will take a look

[2020-01-21 12:51] Menci commented on #820
Here is a workaround. The filename works on Chrome, but it's non-standard:

[code]

[2020-01-21 20:02] Nepoxx opened #822 "Support listObjectsV2WithMetadata"
It would be great to have support for the minio-specific extension `ListObjectsV2WithMetadata` that was merged recently: https://github.com/minio/minio/pull/8539

Also: https://godoc.org/github.com/minio/minio-go#Client.ListObjectsV2WithMetadata

Cheers!

[2020-01-21 20:04] harshavardhana commented on #822
@Nepoxx it is not implemented on purpose, it is an extension API and only meant to be used by specific application requirements such as `mc`

minio-js scope doesn't include that - feel free to implement it yourself by forking the project.

[2020-01-21 20:18] Nepoxx commented on #822
Would you be open to having an extension namespace within this project so that extensions are available but it is made clear to the end user that they are extensions?

Something like:

[code]

[2020-01-22 00:44] harshavardhana commented on #822
That is acceptable would you able to send the PR ? @Nepoxx

[2020-01-22 01:58] Nepoxx commented on #822
@harshavardhana I'll look into it this week or next week :)

[2020-01-28 11:59] slim-hmidi opened #824 "Cannot read a folder containing many files with getObject"
I create a class called `Storage`:
[code]

and I'm trying to read a folder containing a lot of files:
[code]

I got in the console.log this result:
[code]
I'm trying to extract the first file from the folder but I'm not able even to read them from the folder.

[2020-01-28 20:19] kannappanr commented on #824
@slim-hmidi This API will not read all the objects under a prefix. You need to specify each object path separately. You need to list the objects under the prefix and then do getobject on each one of them.
Please feel free to reach out to us at https://slack.min.io for further such questions

[2020-01-28 20:19] #824 closed

[2020-02-07 11:03] slim-hmidi opened #826 "Unable to connect to S2 storage with certificate"
I'm trying to access the aws s3 using minio client, so I tried this simple example:
[code]
in my docker compose I added the certs folder which contains cert.pem (CA certificate) to volume:
[code]
However when I run my code I got this error:
[code]
and this error is due to certificate needed to connect to S3. How can I fix that?

[2020-02-10 19:01] aead commented on #826
The AWS certificate (more precisely the certificate of the root CA - the CA that issued the AWS S3 certificate) has to go into `certs/CAs` not `certs`.

[2020-02-10 19:25] kannappanr commented on #826
@slim-hmidi closing this issue as answered. Please feel free to reach out to us if it doesn't work.

[2020-02-10 19:25] #826 closed

[2020-02-11 03:24] hamedminaee opened #828 "Using MINIO with kubernetes ambassador returns InvalidEndpointError: Invalid endPoint : undefined"
I am having a frustrating issue. I use MINIO as a object storage platform. I have it deployed in Open shift and in my open shift I have ambassador for routing. So when I use the direct route using ocp I am able to generate pre signed url and create buckets... so everything is fine but as soon I use ambasador as follows:

[code]

So using ocicp8.xxx.xxx.xxxx.com/api/minio instead of direct route us

[2020-02-11 03:28] harshavardhana commented on #828
This is because you are using /minio in your URL that is a reserved name in MinIO.

MinIO is a S3 implementation so you cannot put it or rewrite paths to some custom prefix. You have to use just the endpoint just like how you would with AWS S3.

So if you use MinIO server correctly you won't see this problem.

[2020-02-11 04:06] hamedminaee commented on #828
@harshavardhana thanks for the answer can you give an example: so for example is this a valid one: xxx.xxx.xxx.xxx.com/minio?

[2020-02-12 08:38] kannappanr commented on #828
Can you use `mc admin trace` on minio server and paste the output here?

[2020-02-12 08:42] kannappanr commented on #828
I hope you are using
[code]

I am assuming that the port is `9000`.

[2020-02-14 11:59] fcomte opened #829 "minio-js doesn't support session token based presigned URL"
Hello,

Minio JS does not support session token presigned url
This code does not work... the url generated don't have a token.

`var s3Client = new Minio.Client({
  endPoint: 'myminio.domain',
  accessKey: 'X',
  secretKey: 'Y',
  sessionToken: 'Z',
  useSSL: false // Default is true.
})
// Presigned get object URL for my-objectname at my-bucketname, it expires in 7 days by default.
var presignedU

[2020-02-18 17:47] hamedminaee opened #831 "cannot find any api to set lifecycle policy"
Hi,

I am using nodejs and trying to set a lifecycle policy for minio.
However it seems there is no way to set a lifecycle policy with this library.
Is there any way we can set lifecycle policy?

For example similar code in golang:

[code]

[2020-02-19 07:15] sonyz commented on #598
Hi,
The workaround is not working
The env variables HTTP_PROXY and HTTPS_PROXY is not used.

[2020-02-19 07:29] harshavardhana commented on #598
The work around is to use this @sonyz

[2020-02-20 20:14] kannappanr commented on #831
@hamedminaee We do not have that API implemented yet. Please feel free to send a PR

[2020-02-21 08:43] fcomte commented on #829
You just released 7.0.14 but it does not solve this issue in fact. 7.0.14 did not generate an URL containing a sessionToken

[2020-02-21 09:43] harshavardhana commented on #829
Please paste a test program @fcomte

[2020-02-21 09:43] harshavardhana commented on #829
Please paste a test program @fcomte

[2020-02-21 09:49] fcomte commented on #829
I used the same :

`var s3Client = new Minio.Client({ endPoint: 'myminio.domain', accessKey: 'X', secretKey: 'Y', sessionToken: 'Z', useSSL: false // Default is true. }) // Presigned get object URL for my-objectname at my-bucketname, it expires in 7 days by default. var presignedUrl = s3Client.presignedGetObject('tm8enk', 'file', 1000, function(e, presignedUrl) { if (e) return console.log(e) conso

[2020-02-21 15:23] harshavardhana commented on #829
Reopening to investigate

[2020-02-24 09:54] olevitt commented on #829
I just tested the new PR and #832 fixes it for us.
Thanks a lot !

[2020-02-24 23:32] #829 closed

[2020-03-01 10:02] b4nst opened #833 "Overwrite header host when making resigned URL"
Is your feature request related to a problem? Please describe.

Currently it is not possible to change the host of the generated presigned url. This could be useful in many cases like this one :

A gateway running inside a docker container, communicating with Minio server through docker network (http://minio:9000) will generate a presigned url with minio:9000 link. But the final user will use the

[2020-03-01 15:43] kannappanr commented on #833
There is one way to do this

[code]
You generate a url like this
[code]
Since the sdk uses the endpoint used to generate the host header signature, we can use the host header you want to use instead of the endpoint you want to connect to. Then replace `my.example.com` with `play.min.io` and add `my.example.com` as the host header while issuing the curl command
https://my.example.com/test/issue?X-A

[2020-03-01 17:41] harshavardhana commented on #833
@kannappanr thanks this is the correct approach.. there is no reason to do this in our SDK.

It is meant to be used in the manner you described.

[2020-03-01 18:41] b4nst commented on #833
Thanks @kannappanr, this is a working solution. However I think that forcing the end user to know about your internal network architecture is a bad approach (both in term of security and usability).

Let me know if you change your mind in the future.

[2020-03-04 12:43] melnikaite opened #834 "add source maps to npm package"
My dev tool in chrome complains about source maps
Files are really missing in folder `node_modules/minio/dist/main/`
[code]

[2020-03-04 16:13] kannappanr commented on #834
@melnikaite We will take a look at the issue and get back to you

[2020-03-04 17:11] b4nst commented on #833
Update: The solution with the header does not work. It returns a 404 not found

[2020-03-04 19:20] harshavardhana commented on #833
@b4nst we cannot do these type of infrastructure overrides in our SDK - you should use the right endpoint with the MinioClient constructor to generate the correct presigned URL as needed.

@kannappanr lets close this issue, we have closed similar issues in the past as well.

[2020-03-04 19:21] harshavardhana commented on #833
https://github.com/minio/minio-js/issues/514 is the previous issue on something similar.

[2020-03-04 20:07] kannappanr commented on #833
@b4nst Closing this issue based on the previous comment.

[2020-03-04 20:07] #833 closed

[2020-03-04 22:44] kannappanr commented on #828
@hamedminaee Closing this issue as stale. Please feel free to reach out to us with the requested information

[2020-03-04 22:44] #828 closed

[2020-03-05 10:59] roonie007 opened #835 "NodeJS 13 ECMAScript Modules | Babel Error"
Hey,

We are using the minio module in our project using NodeJS 13 which now supports natively the Import/Export.

But for our tests and since Jest still does not work properly with NodeJS 13 (https://github.com/facebook/jest/issues/9430) we are using Babel for your tests .

Everything works perfectly with all other modules like mongoose, fastify, moment, multer etc... .

When we added Minio to ou

[2020-03-11 12:30] loremaps opened #836 "S3 Error malformed XML for removeObjects with non-Latin characters"
If we use Greek or Chinese  characters in object names,  all methods work except the `removeObjects` (even `removeObject` works). The error is:

[code]

From my investigation so far, if I use a filename like `fileΩ` the error occurs here:

https://github.com/minio/minio-js/blob/465caae4606f6647837a3c778faf6652ece5c4dd/src/main/minio.js#L1501

The payload is `"<Delete><Quiet>true</Quiet><Object><Ke

[2020-03-11 14:45] nitisht commented on #836
Thanks for reporting, @loremaps we'll take a look

[2020-03-16 18:31] innovate-invent opened #837 "Default region should be configurable"
https://github.com/minio/minio-js/blob/b859a0360d422eea54b546e92477f2c7cf314b68/src/main/minio.js#L561

I would prefer that the default region be configurable in the constructor.
The constructor already has a region parameter, should it default to that or should a `defaultRegion` parameter be added?

[2020-03-16 18:38] harshavardhana commented on #837
just use the required region in the constructor

[2020-03-16 19:01] innovate-invent commented on #837
This function doesn't make use of that variable other than validation:
https://github.com/minio/minio-js/blob/b859a0360d422eea54b546e92477f2c7cf314b68/src/main/minio.js#L515-L563

[2020-03-17 02:39] keeneagle commented on #836
We also met the issue, when can this issue be fixed?

[2020-03-18 07:07] harshavardhana commented on #836
@keeneagle feel free to send a fix, this is a lower priority issue for us at this moment.

[2020-03-18 08:58] xyJen commented on #806
In my project, when i try to upload file object, `putObject` has a error that third argument must be stream or buffer or string. I have to user filereader-stream transfer the file to stream. By the way, s3 `putObject`  can upload file obejct directly. Why not consider supporting browser mode?

[2020-03-20 19:37] innovate-invent commented on #837
@harshavardhana please remove the 'working as intended' tag as the code does not reflect the intended functionality

[2020-03-20 19:49] harshavardhana commented on #837
@innovate-invent it does, that's why its kept as is.  makeBucket is meant to take custom region not default to the constructor.

[2020-03-20 19:59] innovate-invent commented on #837
How do you make buckets in the constructor specified region without calling makeBucket?

[2020-03-20 20:02] harshavardhana commented on #837
Pass the same region in MakeBucket!

[2020-03-20 20:41] innovate-invent commented on #837
haha, the point is to provide a default in the constructor so I don't have to pass it around in the code.

[2020-03-20 21:03] harshavardhana commented on #837
makeBucket is allowed to create buckets for different regions regardless of your default region in the constructor, so the code is nothing different. You can pass it just as you did for your constructor since you wish to keep this as default.

makeBucket is special so it is treated as a special operation.

[2020-03-20 21:12] innovate-invent commented on #837
Yes, but that requires passing the region variable to every piece of code that calls makebucket.
Why not just provide a means of setting a default for each client instance?
This just adds pollution to every function signature that accepts a client object.

[2020-03-20 21:17] harshavardhana commented on #837
I don't think that is idiomatic in nature because `makeBucket()` without region means its `us-east-1` not your constructor default region.  This is to behave as per S3 spec.

makebucket is a rare operation so if you are doing it frequently you have an architectural issue.

[2020-03-20 21:43] innovate-invent commented on #837
It isn't that I am calling it frequently, it is that I am calling it several layers deep in the call stack compared to the instantiation of the client.
If it is simply a matter of strictly adhering to a specification, then I guess there is nothing to be done.

[2020-03-20 21:43] #837 closed

[2020-03-23 12:41] fernard opened #838 "InvalidEndpointError for valid url"
Hello, I'm trying to setup the minio client for a given url, which has the following form:

[code]

I get a InvalidEndpointError when running the script. Why does the validation method fail on this url pattern?

[2020-03-23 13:00] vadmeste commented on #838
@fernard, hello.

You should not put any path in the endpoint field, only the host name.

Also would you mind join https://slack.min.io ? you can ask any question there

[2020-03-23 13:00] #838 closed

[2020-03-23 14:40] fernard opened #839 "Access Denied when trying to upload files to bucket"
This is my minio implementation:

[code]

When trying to upload the files, I'm getting the following error:

[code]

[2020-03-24 16:43] BarthaBRW opened #840 "copyObject NoSuchBucket error"
Hi there,
Uploading and removing a file works well as expected, but I get **NoSuchBucket** error when trying to copy a file.

Versions:

- node v12.13.0
- minio client v7.0.15
- minio server version RELEASE.2020-03-19T21-49-00Z

[code]
[code]
[code]
[code]

[code]
Also tried passing a new Minio.CopyConditions to the copyObject following the documentation and switching sourcefile and targetfile par

[2020-03-24 19:29] kannappanr commented on #840
@BarthaBRW Tried the following code against play

[code]
I was unable to reproduce the issue with the same version of `minio-js`

[2020-03-24 19:48] BarthaBRW commented on #840
Thanks your quick reply. Your code looks to be working, so at the moment I am not sure what can go wrong.

[2020-03-25 20:02] KadKla commented on #772
The use of aws-sdk-js works pretty nice, however, the version above uses 'fs', this is not possible in the browser. However, the sample from https://github.com/minio/minio-js/issues/687#issuecomment-383836279 works also in the browser :)

[2020-03-28 22:18] kannappanr commented on #840
@BarthaBRW Not sure how we can help here. I have not really come across anything like this. You can add tracing on both client side and server side and see if you can find any clue there. Closing this issue now. Please feel free to attach any logs that might be helpful for us to look at.

[2020-03-28 22:18] #840 closed

[2020-03-30 09:25] mtsyganov commented on #726
In the meanwhile it is possible to do SSE-C but only when you put an object to minio. Unfortunately there is no support yet to use SSE-C by getting objects back from minio.

Here how you can use SSE-C to store objects

`minioClient.putObject('mybucket', 'myobjectname', file.buffer, metaData)`

to use SSE-C you have to provide metaData as follows:
[code]

I think it is a good solution to give the p

[2020-03-31 00:37] Jeffwan opened #841 "Support IAM for Service Account"
aws add [IAM For Service Account](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) feature. It uses Web Identity Credentials and this is not support in minio-js yet. It would be better to bump SDK version or add this resolver.

minio-go changes: https://github.com/minio/minio-go/pull/1183

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/WebIdentityCrede

[2020-03-31 04:22] ebozduman commented on #839
Hi @fernard ,
I think it is because your script failed to get the credentials from the ENVs.

The following code works just fine:
[code]
So, you need to fix the following 2 lines in your code:
[code]

Closing this as it is a user error/invalid issue.

[2020-03-31 04:22] #839 closed

[2020-03-31 04:43] kannappanr commented on #839
@fernard Please feel free to reach out to us at https://slack.min.io for further questions

[2020-03-31 23:41] kannappanr commented on #841
Please feel free to send a PR @Jeffwan

[2020-04-04 16:50] lukesmolo opened #842 "statObject always returns "'AccessDenied""
Hi guys, I get a very strange error every time I call the statObject method of the client. All the rest works exactly as expected. I use a very basic example and I have minio running into a docker container.
I am using node v13.9.0 and the last version of minio-js. This is the script:

[code]
And the error I get is:
[code]
I found also something here [https://github.com/minio/minio-py/issues/828](

[2020-04-04 18:28] kannappanr commented on #842
@lukesmolo Can you please enable tracing on the client side.

[code]

Also, if the backend is minio, you can run `mc admin trace -v alias` against the minio backend.

Also, can you remove the port from the constructor and try the script

[2020-04-05 10:25] lukesmolo commented on #842
Ok, thanks for the advice. Removing the port did not have any effect. Instead, by tracing the backend I was able to understand that my problem is generated by CloudFlare, since I am using it behind the minio server. It seems that Cloudflare modifies somehow the headers and so I get this:
**The request signature we calculated does not match the signature you provided. Check your key and signing met

[2020-04-06 05:25] krishnasrinivas commented on #842
@lukesmolo

But I see that it is failing for get request:
[code]

Can you check if things work fine with `mc` command? you can use `mc cp/cat/stat` to check

[2020-04-06 17:36] lukesmolo commented on #842
You are right, sorry I did not realise that because I focused on the error displayed by the client's trace.
[code]

I tried with `mc` and it works properly.

[2020-04-07 01:22] roonie007 commented on #835
Hey @kaankabalak @kannappanr  any news about this issue ?

[2020-04-07 01:26] harshavardhana commented on #835
We are busy with other priorities right now @roonie007 feel free to send a PR yourself if you do have time.

[2020-04-08 14:56] Michael6493 opened #843 "403 error when trying to retrieve a file (image - 1mb)"
I am trying to get minio retrieving an image from a bucket from a nodejs backend.
It can access the bucket, as it gives me an error if I change the bucket name.
This error in the console when requesting this endpoint says" [HTTP/2 504 Gateway Timeout 62150ms]

With port set to 443 I get this error instead:
    **Incomplete response received from application**

[code]

## Expected Behavior
I expect

[2020-04-13 22:16] kannappanr commented on #843
I moved the issue to `minio-js` repo.

Can you please try downloading an image or another object of similar size from `play`

I have given a sample code here

[code]
Then you can try the same against your MinIO backend with and without the nginx

[2020-04-14 05:07] bingiu commented on #806
Hi @harshavardhana @mindfocus . Did you guys figure out a way to use minio javascript client in the browser ?. If so,  could you let me know the steps on how to use it in a React app.

[2020-04-14 05:09] harshavardhana commented on #806
The previous message still holds there is no intention to fully support this in browser, you can still build one locally, but we do not really plan to publish to ship a browser version in the near future

[2020-04-14 05:13] bingiu commented on #806
Thanks for the response @harshavardhana . Is there any swagger spec which I could use to build my own client ? or is there any example on how to build it ?

[2020-04-14 05:14] harshavardhana commented on #806
We used browserify I think it is `npm run browserify`, we are happy to accept PRs if you can help with swagger spec.

[2020-04-14 18:22] terrywbrady commented on #514
I had some success with this issue by adding a hostname alias to my minio container.  I have summarized the approach here: https://stackoverflow.com/a/61214488/3846548

[2020-04-16 20:04] V1os commented on #842
the same (

[2020-04-23 02:40] Enzozzzz opened #845 "Unhandled Rejection (TypeError): _fs.default.stat is not a function"
when I uplaod a file, it will reponse some error,
"Unhandled Rejection (TypeError): _fs.default.stat is not a function"
and how can i deal with it ??

my code is as below:
minioClient.fPutObject('testbucket', 'test.txt', filePath, metaData, function(err, etag) {
    if (err) return console.log(err)
    console.log('File uploaded successfully.')
  });

[2020-04-23 04:56] #845 closed

[2020-04-23 11:13] lchayoun opened #846 "Support for selectObjectContent"
As supported in the Java SDK:
https://docs.min.io/docs/java-client-api-reference.html#selectObjectContent

[2020-04-25 06:58] kannappanr commented on #846
@lchayoun Please feel free to send a PR. We welcome community contributions.

[2020-04-25 14:56] loremaps commented on #806
@bingiu minio-js seems to work fine with react. Please have a look here:

https://codesandbox.io/s/react-minio-js-example-9xtgo

[2020-05-01 20:45] #836 closed

[2020-05-06 20:28] fileformat opened #849 "Cannot access non-AWS endpoint that need to be accessed with virtual host"
I'm trying to hit an non-AWS service (Aliyun) that requires virtual host style addressing.  However, none of the settings seems to enable it.  I'm doing this from node.js.

To make sure it isn't a problem in my code, I tried changing [line 202 of minio.js](https://github.com/minio/minio-js/blob/6e729ee49acd3dfe873f3a25cf8bcbdcb6c3b24e/src/main/minio.js#L202) to `if (true) {` to force virtual-host-

[2020-05-07 08:55] kannappanr commented on #849
@fileformat Please feel free to submit a PR. We welcome community contributions

[2020-05-08 12:47] wulucxy opened #850 "can this be used in a browser environment for upload and download"
I did not have a node.js environment，so how can I use it in only the browser for file upload and download?

[2020-05-08 13:42] xMarkusSpringerx opened #851 "Encryption for single files"
AWS S3 offers to provide a customer encryption key for every file. Will this feature be supported in the future? IMHO it would make sense to also make it optional to provide an encryption/decription key for single files and also buckets.

[2020-05-09 02:32] wulucxy commented on #850
this can be done with the pkg: https://github.com/maxogden/filereader-stream

[2020-05-09 02:32] #850 closed

[2020-05-09 12:59] loremaps commented on #806
In case this helps anyone, this seems related to: angular/angular-cli#1548

There is a workaround by customizing webpack configuration (as explained in the linked issue) and it worked for me: https://github.com/loremaps/ng-minio-crypto/commit/8f2089e05664f66a219df559019794aea60a73a5

But yeah, maybe it is better to stick with nodejs 😄

[2020-05-09 21:31] vibrantrida opened #852 "Getting InvalidBucketNameError even when the bucket name is correct"
I am receiving an `InvalidBucketNameError` even when the bucket name is correct.
[code]
[code]

`localbucket` is one of the results in `listBuckets`:
[code]
I also made sure to set the bucket's policy to public.

Any ideas why this is happening?

[2020-05-10 06:40] kannappanr commented on #851
MinIO supports `SSE-C` just like AWS S3, just that `minio-js` does not support it yet. We will be adding  this to our `minio-js` SDK soon.

[2020-05-10 07:12] kannappanr commented on #852
@vibrantrida You do not have to set the bucket policy to public. I tried your code against `play` and that worked fine.

I would probably try something like

[code]
to reproduce the issue and see why this is happening with your code.

[2020-05-10 10:21] vibrantrida commented on #852
Thanks! though I have to say, validating bucket names is a good idea if multiple buckets are going to be used later but for this project only one bucket will be used so I find this unnecessary.

Any idea why this happens? it should work fine on a locally hosted min.io server like it did on the play server

[2020-05-10 14:32] kannappanr commented on #852
Please take a look at this document from AWS S3 https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html where it clearly says that uppercase bucket names are not supported.

Closing this issue as answered. Please feel free to reach out to us t https://slack.min.io for further questions.

[2020-05-10 14:32] #852 closed

[2020-05-14 16:12] LeBovin commented on #745
Any news about it ?

[2020-05-14 17:12] xMarkusSpringerx commented on #851
Thank you for your response. I would really appreciate it.

[2020-05-15 19:39] fileformat commented on #849
@kannappanr [PR](https://github.com/minio/minio-js/pull/854) submitted!

[2020-05-20 14:03] hanu18 opened #855 "putObject does not work in browser to upload file"
I am using MinIO JS SDK in my React App
I want to upload a file using MinIO JS SDK which is not possible without any  SSR
but S3 SDK provides a feature to upload a file directly from the browser using `"s3.upload"`
I need a similar kind of behavior in MinIO SDK as well.

While using `"minioClient.putObject"` it used fs which is not accessible in React environment
Please help in this scenario, its

[2020-05-20 14:52] shanewholloway commented on #598
Confirmed working with [mitmproxy.org](https://mitmproxy.org/)

[code]

[code]

[2020-05-20 20:54] gebv commented on #737
@mengu If it's still relevant, few solutions for us
* reverse proxy via nginx - rewrite prefix and added option `proxy_set_header Host '127.0.0.1:9000'`
* use traefik with stripPrefix and sets static header Host

[2020-05-25 01:48] disarticulate commented on #855
You probably need a fs shim.

https://github.com/jvilk/BrowserFS

[2020-05-27 14:29] Piliponful commented on #727
Worked for me to, but the error is very very unintuitive, this should be fixed

[2020-06-24 13:16] amarcuse commented on #849
@kannappanr Any feedback on the PR?  I'd like to get Minio working.

[2020-06-25 05:52] munkhorgil commented on #843
@kannappanr, How to get dataStream buffer along with size?

[2020-06-28 03:37] guoyibj opened #856 "putObject callback should return lastModified like copyObject"

[2020-06-29 15:22] ofstudio opened #857 "putObject returns error when `writeonly` policy is set"
Source code
[code]

If user `js` has `readwrite` policy everything is fine:
[code]

But if the user  has `writeonly` policy an error occurs:
[code]

In both cases Minio Browser works as expected: full access with `readwrite` policy, and upload-only with `writeonly ` policy.

- Node v14.4.0
- minio-js v7.0.16
- minio-server v2020-06-22T03:12:50Z

[2020-06-29 22:41] dianamariand92 commented on #855
Hi @hanu18,

I have the same problem. Could you find a solution? Thanks

[2020-06-30 09:19] maaft commented on #745
Would also be very interested!

Using precompiled binaries with `exec(...)` in your backend-code (for i.e. automatic user creation) feels very hacky..

[2020-07-01 07:34] kannappanr commented on #857
Write only policy does not have getbucketlocation permission
[code]
either you need to create a custom policy or you can set the region parameter in the constructor.

[code]
closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further questions.

[2020-07-01 07:34] #857 closed

[2020-07-02 06:42] cloudtry opened #858 "Error when using minio-js in ant design , TypeError: _fs.default.stat is not a function"
## An error occurs when I use minio-js in the ant design project, the error message is TypeError: _fs.default.stat is not a function

![{4EDE6528-708C-49AA-B941-8752A6F83B62}_20200702144145](https://user-images.githubusercontent.com/38524062/86325152-303fc280-bc72-11ea-82f6-5a0d779ebb07.jpg)

[2020-07-03 17:36] kannappanr commented on #858
@cloudtry minio-js is not supported on browser. Can you provide a reproducer for us to take a look?

[2020-07-05 06:02] amitguptagwl opened #859 "Upgrading XML Parser"
As you're currently using xml2js, I wanted to request upgrading to [fast-xml-parser](https://github.com/NaturalIntelligence/fast-xml-parser) due to performance; Just for a note AWS SDK has already switched to FXP.

file size | fxp 3.0 validator (rps) | fxp 3.0 parser (rps) | xml2js 0.4.19 (rps)
-- | -- | -- | --
1.5k | 16581.06758 | 14032.09323 | 4615.930805
1.5m | 14918.47793 | 13.23366098 | 5.90

[2020-07-05 10:10] cloudtry commented on #858
@kannappanr  I got this error when using minio-js in the react framework of "ant design". I'm not sure if this is the case in all minio-js projects. PS: my browser is chrome

[2020-07-05 10:19] cloudtry commented on #858
my code is the example you provided

like this
[code]

[2020-07-05 16:10] harshavardhana commented on #858
fputObject doesn't work on browsers @cloudtry it requires filesystem access. You need to use putObject

[2020-07-06 17:16] kannappanr commented on #859
@amitguptagwl please feel free to send a PR

[2020-07-07 05:50] kannappanr commented on #858
@cloudtry closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further questions

[2020-07-07 05:50] #858 closed

[2020-07-15 11:24] ebozduman commented on #856
@guoyibj,

MinIO is s3 compatible. That's why we cannot change `putObject` behavior and return `LastModified` information like `copyObject`.

Our implementation is correct, so marking the issue as `working as intended`.

Please let us know if you disagree. If not, please close the issue.

[2020-07-15 18:24] kannappanr commented on #856
Here is the response syntax for copyobject
[code]

Here is the response syntax for PutObject call

[code]
As explained by @ebozduman Closing this issue as working as intended.

[2020-07-15 18:24] #856 closed

[2020-07-21 18:52] #809 closed

[2020-07-28 19:08] nununoisy opened #860 "No way to update metadata in copyObject"
Hello,

I am trying to use `copyObject` to copy a file over itself while updating `lastModified` on it. However, this fails with this error:
[code]
I've noticed that some of the other client libraries do include metadata fields in their `copyObject` - however I can also see how adding a parameter would introduce a potentially breaking change.

I can work with either of these two solutions:
- Updat

[2020-07-28 22:30] kannappanr commented on #860
@nununoisy We will be adding versioning support to the `js` SDK in the near future. We will fix this issue as part of the versioning overhaul. Thanks for bringing this to our attention

[2020-08-07 22:44] christianechevarria opened #862 "minioClient.makeBucket is not a function"
Hi folks! I'm having what I believe to be a really simple issue that I'm just not seeing how to resolve.

I'm using the JS client just as the README indicates

[code]

[code]

but I'm getting this error

[code]

I've tried logging `minioClient` and this is what I get, there's no sign of any makeBucket function

[code]

Any help would be appreciated, is there something glaringly obvious I'm missing

[2020-08-07 23:03] christianechevarria commented on #862
Update: I think this is a Docker related issue. Somehow within the container when `npm i` runs it pulls a types file for Minio instead of the actual library.

Closing for now since this is actually unrelated to Minio, I think

[2020-08-07 23:03] #862 closed

[2020-08-07 23:40] christianechevarria commented on #862
Update (again): Just realized I was mixing CommonJS with built in JS module system :rofl: - that was my first mistake right there

[2020-08-10 00:49] roonie007 commented on #851
any news about this ?

[2020-08-10 11:49] xMarkusSpringerx commented on #851
I think they're already developing this feature, at least it's in their milestone plan.

[2020-08-26 01:18] christianechevarria commented on #514
I'm basically grappling with this, it's been a big time-sink so far.

Originally I was getting `signature mismatch` errors due to the host discrepancy on the browser, so I followed the approach outlined by @harshavardhana and set up an NGINX proxy -- I'm now getting a `403 forbidden` with no logging from the MC (MinIO Client) -- maybe I'm not hitting the MinIO service, but I don't think that's the

[2020-08-26 01:22] christianechevarria commented on #514
@terrywbrady I saw that you setup up a custom network, when you edit `/etc/hosts` that's the host machine running docker, right?

[2020-08-26 01:31] christianechevarria commented on #833
I see it's a wontfix on the original issue, is there a recommended workaround for this?

I think @b4nst is absolutely right, it takes time to first discover the nature of the problem and then a fair amount of effort / research to create / find a workaround to resolve what is fundamentally a design decision

[2020-08-26 01:46] christianechevarria commented on #833
I was chatting with someone on the MinIO slack and apparently there's a `withProxy` parameter in the c# and golang libraries that allows for a simple workaround to this. It would work something like this:

let Minio = require('minio')

const minioClientConfig = {
  endPoint: "localhost",
  port: 9000,
  useSSL: true,
  accessKey: MINIO_ACCESS_KEY,
  secretKey: MINIO_SECRET_KEY,
  withProxy: "minio

[2020-08-26 15:45] terrywbrady commented on #514
@christianechevarria , that is correct.

[2020-09-14 13:46] charleshall888 opened #863 "Versioning Support"
I see versioning support has been added for the Java SDK, but still not for the JavaScript SDK. I would imagine that JS is used by many users of Minio with the popularity of NodeJS. My team is depending on the versioning support for the JS SDK and would like to not have to add the support ourselves.
Is there a timeline for when/if the support will be added?

[2020-09-15 10:08] orangefoil opened #864 "removeObjects causes malformed XML error when using German umlauts"
Calling removeObjects with objects that have UTF-8 encoded German umlauts (äöüÄÖÜ) in the name you get the error `S3Error: The XML you provided was not well-formed or did not validate against our published schema.`
Deleting a single object using removeObject works just fine.

This is likely related to #836 which is was closed. But as of version 7.0.16 there are still problems with unicode filename

[2020-09-15 10:18] vadmeste commented on #864
We fixed a similar issue in minio-go. The only way to fix this is to send separate DeleteObject S3 calls inside removeObjects() when removing objects with names containing unsupported characters in XML.

[2020-09-15 11:00] orangefoil commented on #864
Thanks for your suggestion, that's also what I'm doing right now.
However I consider that a workaround and not a fix. That's why I opened this issue.

[2020-09-15 11:19] vadmeste commented on #864
I meant we should make switching between single and multi remove transparent in removeObjects() js API.

[2020-09-17 08:24] elitan commented on #796
This how you create a folder with the [minio js sdk](https://docs.min.io/docs/javascript-client-api-reference):

[code]

You can also create folders similar to `mkdir -p test2/hello/`:

[code]

where `nhost` is the bucket name.

[2020-09-23 04:25] rainbowhat commented on #588
Anyway to hide the port?

[2020-10-03 21:01] kayotimoteo commented on #863
I would like the functionality, to think that after being made available on the core, it would be made available on all sdk's but I didn't see it happen 😕

[2020-10-03 21:03] harshavardhana commented on #863
We are working the best we can with the amount of time with multiple things. It is beneficial if community members such as yourself send us a PR instead.

If you need a prioritized work you are more than welcome to get our subscription to steer our directions @kayotimoteo

[2020-10-03 21:11] kayotimoteo commented on #863
@masihjahangiri, Sorry I think I expressed myself badly, that was not my intention, I know how things are. Unfortunately for the time being I don't have an advanced skill in JS, but I recognize the work of the community and I don't have a priority, I work with what I have and that already suits me very well. Hugs.

[2020-10-07 14:39] duard opened #865 "listObjects and ListBuckets ETIMEDOUT"
I aways get ETIMEDOUT

[code]

`  @Override()
  async getMany(@ParsedRequest() req: CrudRequest, @Query() query) {
    console.log('\n\n\n\n 0=>', 'Checkpoint -----------------------------');

    const s3Client = new Client({
      endPoint: 'goiabada-3d.sincero.objectstorage.sa-saopaulo-1.oraclecloud.com',
      port: 9000,
      useSSL: true,
      accessKey: 'kjfhasdkjfhadklsfhkadlsfhdksajfhkl

[2020-10-07 18:47] #865 closed

[2020-10-07 18:49] duard opened #866 "Error SignatureDoesNotMatch"
What information I need to pass ?

**S3Error: The required information to complete authentication was not provided.**

[code]

My code :

[code]
`
"error":{"code":"SignatureDoesNotMatch","amzRequestid":null,"amzId2":null,"amzBucketRegion":null},"stack":"S3Error: The required information to complete authentication was not provided.\n `

[2020-10-08 06:05] kannappanr commented on #866
@duard Not sure what we can do here.

please take a look at this issue

https://forum.rclone.org/t/signaturedoesnotmatch-the-required-information-to-complete-authentication-was-not-provided/18589

this is exactly similar to what you are seeing here

[2020-10-08 11:07] #866 closed

[2020-10-10 05:01] rayguang opened #867 "ReferenceError: require is not defined"
**Describe the bug**
I am adding a new cloud storage support by using min.io (https://docs.min.io/docs/javascript-client-api-reference.html). After running npm start, no particular error. When I go to http://localhost, received the following error:

`ReferenceError: require is not defined
Module../node_modules/minio/node_modules/async/dist/async.mjs
http://localhost/static/js/0.chunk.js:215453:30

[2020-11-04 14:25] bublig737 commented on #699
I found very simple way to set policy by sdk library(in my case its JS library).

First create bucket by `makeBucket()` method
Then open your browser and go to the MinIO browser page. Login there if needed.
Then find there your new bucket and choose "Edit policy" option.
Here you should set some policy by UI buttons.
When the policy has setted, go back to the IDE with your SDK library and use ther

[2020-11-05 00:53] #859 closed

[2020-11-05 12:08] stringang opened #868 "Extracting the bucket region is an object,throwing an error"
I'm using my local minio service to run this repository example(examples/bucket-exists.js). The program is terminated with an error.

error message：
[code]
I debugged and found that the program was terminating because the `extractRegion` method was receiving `data` as an object type

source code:
[code]

Received `data` format:

[code]

**When I construct the minio client, add the `region` paramet

[2020-11-06 06:53] stringang commented on #868
source code:

[code]

the `signv4` method validation parameter throws an error and the process is terminated.

should the error be called back instead of letting the process end?

[2020-11-08 16:28] MichaelGrigoryan25 opened #869 "MinIO doesn't connect with .env/.json/.js config variables"
I am trying to connect to MinIO using this configuration file
`minio.config.js`
[code]
`index.js`
[code]
Whenever I try to modify something I get this error.

[code]

I don't understand why it doesn't work because everything in my config file is correct.

[2020-11-09 05:37] harshavardhana commented on #869
You are using PORT for secretKey use

[2020-11-09 05:37] #869 closed

[2020-11-09 05:50] MichaelGrigoryan25 commented on #869
Oh, you're right, thank you. This was my fault.

[2020-11-11 13:18] bingliang-zh opened #870 "Using virtual host style with s3 provider other than AWS"
I'm using an s3 provider other than amazon, and it only supports the virtual host style. May be considering expose a "virtual host style" switch outside so I can manually set the visiting style when creating a client? I can't find a walk around in the source code.

Helpers.js

[code]

[2020-11-11 17:26] harshavardhana commented on #870
Not part of the current plan @bingliang-zh feel free to send us a fix

[2020-11-13 08:29] fordtn opened #871 "InvalidEndpointError: Invalid endPoint : undefined"
Any idea how to fix this ?

aristoslabs@Alabs-II common_service % npm start

/Users/aristoslabs/ITW/common_service/node_modules/minio/dist/main/minio.js:90
      throw new errors.InvalidEndpointError(`Invalid endPoint : ${params.endPoint}`);
      ^
InvalidEndpointError: Invalid endPoint : undefined
    at new Client (/Users/aristoslabs/ITW/common_service/node_modules/minio/dist/main/minio.js:90:1

[2020-11-13 11:29] bingliang-zh commented on #870
Working on it.

[2020-11-14 07:05] bingliang-zh commented on #870
PR: <https://github.com/minio/minio-js/pull/872>

[2020-11-14 07:05] #870 closed

[2020-11-15 13:55] popey456963 opened #873 "High CPU Usage when running `fPutObject`"
I'm running `await client.fPutObject(bucket, filepath, localFilePath, {})` in order to upload some files from my server to a Minio server running on the same machine.  I'm writing at between between 50-60MBps to a software defined RAID hard drive.

During this, my CPU usage is the limiting factor for speed, hitting 100% on a single core throughout this.  This surprises me, because I would expect a

[2020-11-15 13:56] popey456963 commented on #873
Ah, found out that the CPU limitation was due to CPU_IOWAIT, so my hard drives were actually at maximum write speed.

[2020-11-15 13:56] #873 closed

[2020-11-17 15:54] thomaslc66 opened #874 "Minio JS API presigned url duration not working!!"
## Expected Behavior

When I set a duration on a pre-signed URL, the URL should not work when this duration is expired.

Please make sure the duration is handled correctly

## Current Behavior

When I set the duration of the presignedGetObject method to 5 sec, the file can still be accessed even 10 minutes after.

Current behavior doesn't handle the duration properly

## Possible Solution

## Step

[2020-11-19 11:21] jlegido commented on #758
@Farkal thanks for sharing, but since I'm newbie, could you please point to the documentation on how to extend minio with your snippet?

Thanks in advance.

[2020-11-19 11:28] Farkal commented on #758
There is no extend needed, just declare your minio client like the readme say and then use walk.
I improved my snippets with the declaration of the minio client 😉

[2020-11-22 10:04] jlohiya commented on #860
I do also have same case to just update the metadata of existing file, is there any chance this is fixed or still open?

If solution not available then I would have to choose long workaround with updating the content too with updating metadata.

[2020-11-27 18:15] jlohiya commented on #860
@BigUstad @kannappanr Can you help me in knowing if this issue is planned to be fixed in near time?

Thanks in advance!

[2020-12-01 06:07] HeJueting opened #876 "ERROR: xmlobj.CommonPrefixes.forEach is not a function"
**minio version：^7.0.17**

</br>

 found this problem when I used the **listobjects** API

1、When the third parameter recursive of listobjects is set to true, the result returned is correct
[code]

2、However, when the third parameter recursive is set to false, an error is reported

[code]

I entered the wrong node_ modules\minio\dist\main\xml- parsers.js:381 : 27 files, printing xmlobj.CommonPrefi

[2020-12-01 23:30] kannappanr commented on #868
@stringang We are unable to reproduce the issue. Tried it with and without the region being set. Can you please let us know the version of MinIO, the mode in which it is being run, the command line parameters used, environment variables used if any. output of `mc admin config export myminio` . Version of minio-js in use. Finally, are you able to reproduce this against `play.min.io`?

[2020-12-02 06:24] stringang commented on #868
I can't reproduce the issue even now. It's really amazing.

I will close the issue first. If I can reproduce it, I'll open it again.

[2020-12-02 06:24] #868 closed

[2020-12-02 11:58] ebozduman commented on #876
@HeJueting,

I tried to reproduce the issue and no matter what I tried, could not reproduce it.

However, looking into the code, I saw a potential problem and fixed it;
[PR#877]([https://github.com/minio/minio-js/pull/877)

Please try to reproduce the issue and make sure it is still there.
Then test the fix to verify the it addresses the problem.
As I don't know the details of your reproduction st

[2020-12-02 14:58] vittoriomanzone opened #878 "Allow using FQDN domains (domains with trailing dot)"
Please allow using FQDN domains (domains ending with trailing dot, speeding up DNS queries), which are currently rejected.

Same fix was already applied to minio-go (https://github.com/minio/minio-go/pull/1110)

[2020-12-03 03:30] liujingjie opened #879 "why listobjects return prefix with profix[0]"
i use listObjects to show the files and the folders,
[code]
But I only got the first letter of the folder，
![image](https://user-images.githubusercontent.com/9113753/100958741-d9f3ea00-3557-11eb-8158-095f5f484246.png)

and the actual files are
![image](https://user-images.githubusercontent.com/9113753/100960047-7ae3a480-355a-11eb-8e01-be07d3ab4fbb.png)

i found the code in `xml-parsers.js` and the

[2020-12-03 20:16] Max9419 opened #880 "ListObjectV2WithMetadata return undefined metadata"
Hello!

I found out today that since v7.0.15(excluded), ListObjectV2WithMetadata return undefined metadata for me.

I digged a bit and found out that this bit of code

[code]

Need to be

[code]

For it to work for me. You can find this codein xml-parser.js L473.

Can you confirm that this should be the way?

Thank you!

[2020-12-04 10:51] ebozduman commented on #871
@fordtn ,

It looks like, when you `npm start`, your script tries to create an instance of the MinIO server you are running at an endPoint` with credentials `accessKey` and `secretKey` in your environment.

This is defined in your script, similar to the below line of code:
[code]

We validate the provided `endPoint` and make sure it is a valid point. If not, then the error you see is thrown.

Plea

[2020-12-04 13:03] SamuelHassine commented on #876
Same bug here:

[code]

[2020-12-04 15:31] Max9419 commented on #822
This should be closed @harshavardhana

[2020-12-04 15:50] gmacmaster opened #881 "Minio @7.0.17 returns different result for listObjectsV2 from @7.0.16"
I have a folder within a bucket with ~1750 files in it. When I use:
    `const stream = minioClient.listObjectsV2('my-bucket', 'folder-name', true);`
In @7.0.16 it returns a list of the full ~1750 objects but in @7.0.17 it returns a list of only 289 objects.

Steps to reproduce:

1. Install minio@7.0.16
2. use `minioClient.listObjectsV2('my-bucket', 'folder-name', true);`
3. Note number of returne

[2020-12-05 05:40] ebozduman commented on #876
@SamuelHassine ,

Since you can reproduce the problem in your setup, could you pick up PR#877 and test the fix?

If you cannot test and verify the fix/PR#877 for any reason, then please send us the details of your reproduction steps, like; how do you start MinIO, what is your configuration, what was running when the issue/error happened, what kind of hierarchical data structure you have in your bu

[2020-12-05 16:53] HeJueting commented on #876
@ebozduman ,

I tried to git clone https://github.com/minio/minio-js.git，and updated the code you modified in [#877](https://github.com/minio/minio-js/pull/877)，After recompiling the code, I found that the problem had been resolved.

Thank you for your reply and answer

[2020-12-05 18:41] SamuelHassine commented on #876
Hello @ebozduman, I tested the PR#877. This PR actually fixed the bug. No crash since 12 hours.

[2020-12-06 07:57] loremaps commented on #864
Hi @orangefoil the fix for #836 was released in `7.0.17`. If you upgrade it should work with German umlauts too.

[2020-12-06 08:05] ebozduman commented on #881
@gmacmaster
Is it possible to tell us what files are missing and/or what files are extra in what relese, and
how is your data structure, that is what is your folder ,'folder-name', content in terms of directories/prefixes and files/objects etc.

[2020-12-07 09:15] arnediekmann commented on #881
While I can't provide details to reproduce the issue with a file structure etc. at this time, I just wanted to weigh in since we had a possibly related issue this morning: After upgrading from `7.0.16` to `7.0.17` last week `listObjectsV2` capped results to 1000 objects exact which is the page size used by minio-js I believe. A downgrade to `7.0.16` fixed the issue and returned all objects again.

[2020-12-07 10:50] ebozduman commented on #876
@HeJueting , @SamuelHassine

If you don't mind, can you test and verify the fix, #877, one more time for your scenario?
I refactored the code to address some other similar issues and I cannot reproduce your case to test in my environment. I appreciate your help.

[2020-12-07 10:51] ebozduman commented on #879
@liujingjie ,

If you don't mind, can you test and verify the fix, #877, one more time for your scenario?
I refactored the code to address some other similar issues and I cannot reproduce your case to test in my environment. I appreciate your help.

[2020-12-07 10:52] ebozduman commented on #880
@Max9419 ,

If you don't mind, can you test and verify the fix, #877, one more time for your scenario?
I refactored the code to address some other similar issues and I cannot reproduce your case to test in my environment. I appreciate your help.

[2020-12-07 10:54] ebozduman commented on #881
@gmacmaster , @arnediekmann ,

If you don't mind, can you test and verify the fix, #877, for your scenario?
I refactored the code to address this issue with some other similar issues and I cannot reproduce your case to test in my environment. I appreciate your help.

[2020-12-07 11:04] ebozduman commented on #864
@orangefoil ,

Please upgrade and let us know if your issue is already addressed by PR#847 introduced to address issue #836.
If you agree, please close the bug.
I marked this bug as duplicate of issue #836.

[2020-12-07 14:11] HeJueting commented on #876
@ebozduman

I tried to compile your [latest code](https://github.com/minio/minio-js/blob/0d94636c2a9cc93906bdfc4e51810a1fd0dea673/src/main/xml-parsers.js). The [#876](https://github.com/minio/minio-js/issues/876) problem has been solved. In addition, I found that the [#879](https://github.com/minio/minio-js/issues/879) problem has been fixed .

[2020-12-07 15:08] arnediekmann commented on #881
@ebozduman

First of I can now reproduce the issue locally when using version `7.0.17` and a Minio server with the Docker image `minio/minio:RELEASE.2020-11-25T22-36-25Z`. I just create over 1000 objects in a bucket for example via the bash command:

[code]

When listing the objects via `listObjectsv2` the stream will consistently only yield 1000 objects.

I will now your pr #877 to see if it reme

[2020-12-07 16:00] arnediekmann commented on #881
@ebozduman I just tried pr #877 and this does not fix issue. The amount of objects returned is still stuck at 1000.

[2020-12-07 16:02] arnediekmann commented on #881
Here is the code that we use to fetch objects in case this is related to how the library is used: https://github.com/neoskop/papergirl/blob/master/src/update/s3/s3.service.ts#L72

[2020-12-07 16:14] Max9419 commented on #880
@ebozduman,

Hello, I can confirm that it did the trick for me!

Thank you very much!

[2020-12-07 17:11] ebozduman commented on #876
Thank you @HeJueting

[2020-12-07 17:15] ebozduman commented on #880
@Max9419
Thank you.

[2020-12-07 19:23] orangefoil commented on #864
Thanks for coming back to me. This issue is indeed resolved in version 7.0.17. Thanks everyone!

[2020-12-07 19:23] #864 closed

[2020-12-09 08:52] ebozduman commented on #881
@arnediekmann

Could you please give it another try?
I have a few more changes to address this issue. I tested and verified the fix, but I'd like to make sure your scenario is also covered.
Thanks for all your help.

[2020-12-09 09:27] arnediekmann commented on #881
@ebozduman I have just re-tested and can confirm that your latest changes in pr #877 do fix the problem described here :partying_face:

[2020-12-09 09:36] liujingjie commented on #879
I saw #877  before, and modified my code according to it。now my code is
[code]

and i can get the full prefix

[2020-12-09 22:31] ebozduman commented on #879
@liujingjie ,

Yes. That's what was needed in your case.
The problem was if the parsed value is a single item, the new xml parser package was not returning it in the expected type/format: an array with a single element. Instead a single entity, like a string, was returned.
Since there were other similar issues, I put them all in one PR. So, you'll see more than what you needed in #877 PR changes.

[2020-12-10 16:35] onip opened #884 "Question: user tags support"
Hi all,

I've seen that other languages sdk ( golang, python ) support setting and getting user tags on objects. Is there any plan for it in the javascript library?

thanks

[2020-12-11 07:11] SamuelHassine commented on #810
Hello, @harshavardhana, I re-open this issue, it seems on the latest version of Minio the header "Server" is just "MinIO", no more version number. Is that normal?

Thanks for your answer.

Kind regards,
Samuel

[2020-12-12 11:51] prabhuSub commented on #588
Hi,
Is there a way to get these links through a Python API call?
Suggestions would be much appreciated. I know about the **presigned_get_object** method for the client to fetch the link to the file, which is downloadable, but it is not a direct link to the file like an 's3://bucket-name/file.csv' would do, or even the above link examples would do.
How to fetch such links using Python API is my que

[2020-12-16 01:43] #876 closed

[2020-12-16 01:43] #879 closed

[2020-12-16 01:43] #880 closed

[2020-12-16 01:43] #881 closed

[2020-12-16 13:50] PacoDu opened #886 "7.0.18 listObjects broken"
Since 7.0.18 we are experiencing errors with minio client and listObjects. I think the issue was introduced by https://github.com/minio/minio-js/pull/877. Also I think there is an issue in the way #877 was merged because xml2js dependency is reintroduced which reverts part of https://github.com/minio/minio-js/pull/861

[code]

[code]

[2020-12-16 21:10] ebozduman commented on #886
@PacoDu

Yes. This is a regression due to #877. PR#887 fixes it.

We still use the faster xml parser, `fxp`, for parsing and get the benefit of its speed.
We had to bring back `xml2js` module, because we also need another functionality of it, conversion from json to xml, which does not come with `fxp` module.

[2020-12-16 23:58] PacoDu commented on #886
@ebozduman Oh ok i see, thanks for explanation and the quick fix 🚀  !

[2020-12-17 00:12] kannappanr commented on #884
@onip We have plans of getting js SDK on par with other SDKs. Hopefully we will get started on that effort soon

[2020-12-17 00:34] #886 closed

[2020-12-17 00:35] #878 closed

[2020-12-17 08:15] onip commented on #884
thank you.

[2020-12-24 11:11] yehia67 opened #888 "Download a PDF file using getObject"
Hey,
I am trying to download a PDF file that I just uploaded. I am sure the PDF file is uploaded successfully as I checked it on the `uploads/` directory.

My code to download the PDF file:
[code]
The response I got from the postman:
[code]

I tried all the way to convert the response to a readable PDF. It works perfectly with text files. I will attach the PDF file that I am trying to download.
Th

[2020-12-25 00:14] abir-taheer opened #889 "Question or Feature Request: Is there a way to stat multiple files in one request?"
I know there's a way to stat a file using the [statObject](https://docs.minio.io/docs/javascript-client-api-reference.html#statObject) method but is there a way to stat multiple files from the same bucket?

Something like this following:
[code]

This would be super useful when working with dataloaders in graphql or other environments that are prone to a N+1 issue otherwise.

[2020-12-25 01:08] kannappanr commented on #889
@abir-taheer SDK will still have to make a call individually and return the values. There is no S3 API that corresponds to this feature request. I think the application itself can handle this instead of the SDK.Closing this issue, please feel free to reach out to us if you feel otherwsie

[2020-12-25 01:08] #889 closed

[2020-12-27 17:06] loremaps commented on #888
Hi @yehia67

If you used the [putObject](https://docs.min.io/docs/javascript-client-api-reference.html#putObject) to upload there an object argument called `metaData`

Can you please check if it works by setting `content-type` to `application/pdf`? e.g.

[code]

[2020-12-30 08:36] yehia67 commented on #888
It works thank you  @loremaps.

[2020-12-30 08:36] #888 closed

[2021-01-08 00:31] ebozduman commented on #871
As we did not hear anything about if this is a user error or the reproduction steps if the issue is legit.

So, closing it as `working as intended`.

[2021-01-08 00:31] #871 closed

[2021-01-12 15:34] Vaneste commented on #841
Definitely needed !

[2021-01-13 06:29] AmarHelaSoft opened #892 "It is possible to get the free space of a MinIO instance?"
My disk has a size of 500GB. Can I check via api how much free space is still available?

[2021-01-18 11:56] kwaithex opened #895 "composeObject for JS SDK?"
Hello everyone.
I can see that minio python and java SDK has composeObject operation, but JS doesn't.
I have a situation where I need to stream data directly to minio storage, without sacrificing storage on my backend. I went through the docs and couldn't find any way of appending data to an existing object so I thought i could compose multiple objects together. Turns out JS SDK can't do that eith

[2021-01-19 13:34] fsadoon opened #896 "Minio S3 Gateway caching expiry date is wrong ."
dears :

i used below configuration for minio gateway mode :

MINIO_CACHE="on"
MINIO_CACHE_DRIVES="/home/miniogateway/"
MINIO_CACHE_QUOTA=80
MINIO_CACHE_EXPIRY=5
MINIO_CACHE_AFTER=0
MINIO_CACHE_WATERMARK_LOW=70
MINIO_CACHE_WATERMARK_HIGH=90
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

cach.json output :

"expires":"Mon, 01 Jan 0001 00:00:00 GMT"}

any ideas ?

[2021-01-20 05:30] priyankashah2017 opened #897 "Minio listObjects must return Array"
Current Working:
Currently listObjects method returns Object if bucket contains one file & for more than one file it returns an array.

Expected Suggestion:
listObject must return array irrespective of file numbers(i.e it should return array for single as well as multiple files)

[2021-01-22 12:09] joshuaavalon opened #898 "Missing x-amz-security-token in presignedPostPolicy"
Minio JS Version: 7.0.18

Even if you provide `sessionToken`, `presignedPostPolicy` response `formData` does not contains `x-amz-security-token`.

[2021-01-27 08:02] yuNewStudent opened #899 "npm install后应该怎么启动这个项目"

[2021-01-27 10:00] xswei opened #900 "Is there a way to get metadata while getting objects"
In my project, there are many users and Own authority verification system； I try to block the real minio address for front user; so I created a proxy endpoint,  But I can't get stream and metadata at the same time；

[code]

[2021-01-28 07:39] kannappanr commented on #899
PTAL https://docs.min.io/docs/javascript-client-api-reference.html for more information. Please feel free to reach out to us https://slack.min.io for further such questions

[2021-01-28 07:39] #899 closed

[2021-01-28 07:47] kannappanr commented on #892
it is not exposed via this SDK, you can use `mc admin info <alias> --json` to find the available space of the disk, Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further such questions

[2021-01-28 07:47] #892 closed

[2021-01-28 17:39] kannappanr commented on #843
@Michael6493 Closing this issue as stale. Please feel free to reach out to us when you have more information

[2021-01-28 17:39] #843 closed

[2021-01-29 06:25] prakashsvmx commented on #900
@xswei are you calling getObject internally with  `this.storageServicesAsset.accessObject` method as per the above code?

[2021-01-29 06:29] xswei commented on #900
@prakashsvmx  thanks reply

`this.storageServicesAsset.accessObject`  method invoke minio api：

[code]

I replaced this way by use presingedurl and `http-proxy-middleware`

[2021-02-01 05:08] prakashsvmx commented on #900
@xswei

the headers can be read as below. Let us know if the expected result is different. ( the below code is for reference)

[code]

[2021-02-01 06:23] prakashsvmx commented on #726
@mtsyganov  Please have a look at https://github.com/minio/minio-js/pull/901 for getObject Changes.

[2021-02-03 08:39] mtsyganov commented on #726
This PR https://github.com/minio/minio-js/pull/902 adds support for SSE-C for getObject functions. Similar implementation as putObject functions.

[2021-02-05 02:06] starpit commented on #886
Is there a plan to release this fix in a 7.0.19?

[2021-02-05 02:17] starpit opened #904 "listObjects for bucket with "folders" results in TypeError: xmlobj.CommonPrefixes.forEach is not a function"
When we call `client.listObjects("someBucketName")` for a bucket that contains a "folder" (i.e. an object with a trailing slash), the callback actually hangs! When we hack xml-parsers.parseListObjectsQuery to wrap the body with a try/catch, we see:

[code]

further modifying that function to print out `xmlobj.CommonPrefixes` gives:

[code]

We see this in 7.0.17.

With 7.0.18, the client still han

[2021-02-05 02:41] starpit commented on #904
This seems to be fixed on master. Can we expect a release on npm sometime soon? Thanks.

[2021-02-11 03:00] aaronhuggins commented on #849
@prakashsvmx Is this on target to be included in a release by March 31? Or should we expect this down the road?

[2021-02-11 11:49] prakashsvmx commented on #855
@hanu18  did you try https://github.com/harshavardhana/minio-js-browser-upload ?

[2021-02-13 23:19] SamuelHassine opened #905 "Minio server version is not in response headers anymore"
Hello,

I would like to report an issue related to #810. Since the last versions of the MinIO server, the response header `Server:` just contains "Minio"  and not the version. Is there any reason to this change on the server side? Do you have a new method to get the remote Minio server version?

Kind regards,
Samuel

[2021-02-13 23:21] harshavardhana commented on #905
It was for security reasons @SamuelHassine - it is the most common way production systems work https://www.acunetix.com/blog/articles/configure-web-server-disclose-identity/

Having this as public information is dangerous, if you are authenticated you can verify the server version with `mc admin info`.

[2021-02-13 23:21] #905 closed

[2021-02-15 10:13] ToLToL opened #906 "Download folder as a ZIP"
Hi,

I see that MinIO browser calls `POST {minio_server}:9000/minio/zip?token={token}` to download a folder as a ZIP.
Can we do the same with MinIO JS client SDK or S3 client?

Thanks for your reply.

[2021-02-15 10:28] klauspost commented on #906
This library is for S3 compatible storage backends. This call is a minio specific extension and do not belong in this library.

[2021-02-15 10:28] #906 closed

[2021-02-15 10:28] prakashsvmx commented on #906
@ToLToL  are you looking for something like https://github.com/orangewise/s3-zip ?

[2021-02-15 10:31] klauspost commented on #906
@ToLToL This is the JS that handles it: https://github.com/minio/minio/blob/d12831eb0726c16383b8010e8a5d50473ad9a4a5/browser/app/js/objects/actions.js#L437

[2021-02-15 10:48] ToLToL commented on #906
So it's the browser that creates the zip file not MinIO server ?

[2021-02-19 05:56] zhangyalong123feiyu opened #907 "get-object.html 中 minio-browser.js 找不到的问题"
在 html 使用   var Minio = require('minio') 的方式会报错，找不到。看example中的 get-object.html 中有引用minio-browser.js,但是也没有找到，minio-browser.js.

[2021-02-19 05:58] zhangyalong123feiyu commented on #907
求教在html 中如何集成并使用minio-client.js。

[2021-02-20 18:08] LukeeeeBennett opened #908 "setBucketVersioning throwing NotImplemented error"
Seems using `setBucketVersioning` is causing the following error. As far as I know, I have the latest release of minio, but I'm using helm charts so not 100% sure.

[code]

[2021-02-20 19:05] harshavardhana commented on #908
Because you are running in a single drive mode @LukeeeeBennett - run in erasure-coded or distributed erasure-coded mode for versioning.

[2021-02-20 19:05] #908 closed

[2021-02-24 05:22] prakashsvmx commented on #907
Could you please add more details?

[2021-02-24 05:24] prakashsvmx commented on #900
@xswei  did this solve the requirement?

[2021-02-24 12:49] standy commented on #904
Same issue here, fix https://github.com/minio/minio-js/pull/887 is merged already
@prakashsvmx can you make a release please?

[2021-03-09 03:02] prakashsvmx commented on #898
@joshuaavalon  Could you please verify the fix in the linked PR?

[2021-03-09 09:48] xswei commented on #900
@prakashsvmx   Sorry for the late reply，the above method can solve my problem

[2021-03-09 09:48] #900 closed

[2021-03-09 13:21] Eriion opened #911 "presignedUrl doesn't give same results depending on file's upload"
Hi, i am currently facing an issue using javascript API for Minio.

I am getting HTML files from a minio server with "presignedUrl" and add this url to an iframe to display data (which has link to other files in minio folder).

If I upload my html file from minio interface, everything work as expected, my iframe is loading, but if I upload from javascript API (putObject method), my html file is do

[2021-03-09 15:16] Eriion commented on #911
There is some code used by our applications (NodeJS + Angular)  :

### For uploading:
`async putObject(minio: Minio.Client, bucket: string, path: string, buffer: string) {`
`await minio.putObject(bucket, path, buffer);`
` }`
Buffer came from 'UploadedFiles()' decorator (from NestJS)

### For getting URL
Function returning url:
`const path = 'relativePathToMyFolder/index.html';`
`const url = await

[2021-03-09 16:23] Eriion commented on #911
There are repos to reproduce the issue:
- App (https://github.com/Eriion/minioapp)
- API (https://github.com/Eriion/minioapi)
- Files are upload here: https://play.minio.io:9000/minio/eriion/ (If bucket deleted, feel free to create it 'eriion')

### Step to reproduce the bug
- Install depencies (npm i)
- Run APP and API (npm run start for APP and npm run start:dev for API)
- Upload File1.html (in

[2021-03-10 06:09] ebozduman commented on #898
@joshuaavalon

Could you please test the fix if you have your environment ready?

[2021-03-11 01:17] joshuaavalon commented on #898
Yes, it works in my environment.

[2021-03-12 10:37] prakashsvmx commented on #851
@xMarkusSpringerx  @roonie007

Please setup a KMS as described https://docs.min.io/docs/minio-kms-quickstart-guide.html
 and try the below code. It will  upload successfully

Please verify and update the behaviour.

[code]

@kannappanr

[2021-03-14 10:22] ashishdocforce opened #914 "InvalidArgumentError: Invalid port : 9000"
I am bit confused about minio s3 gateway. Do we required aws sdk when we are running the minio server with s3 gateway? My server started running and browsers is showing me the s3 buckets but I can't connect to the server through my node app. It is stating that port 9000 is invalid. Is that anything relevent to aws sdk or something else needs to be done here?

I have gone through the document of mi

[2021-03-14 13:51] prakashsvmx commented on #914
How are you starting the server (command line arguments)?

[2021-03-14 14:48] ashishdocforce commented on #914
Yes

[2021-03-14 22:13] harshavardhana commented on #914
The issue here is your endpoint configuration @ashishdocforce - please share your sample code .

[2021-03-16 12:05] prakashsvmx commented on #914
@ashishdocforce  is it resolved?

[2021-03-16 12:07] ashishdocforce commented on #914
Don't know much. Just commented port part and it worked. Now juggling with another error. The error message shows `S3Error` that's it. I don't understand what's wrong with s3. As it is already working properly on minio browser.

[2021-03-17 03:51] ebozduman commented on #898
It also works in my environment.
I have tested the fix with Keycloak and web identity.
Please let me know if you need help testing the PR.

[2021-03-17 06:27] priyankashah2017 commented on #897
**Before this**
[code]
**After**
[code]

[2021-03-17 21:35] capan commented on #840
Having the same problem here

[2021-03-18 09:17] marnec opened #915 "fGetObject returns undefined but downloads file"
I'm writing an API that should let users download files. I'm using the `fGetObject()` functions. its return value is `undefined` but the file is downloaded
## Expected Behavior
`fGetObject()` should return a promise of file

## Current Behavior
`fGetObject()` returns undefined but downloads file

## Context
NestJS backend with MinIO for file managing

## Your Environment

* minio version 7.0.18
*

[2021-03-18 10:16] prakashsvmx commented on #915
@marnec
to get a promise, the last argument has to be a callback. as in the below example

[code]

Please share the snippet used.

[2021-03-18 11:30] marnec commented on #915
thanks for the answer, however unfortunately it is not helpful in my case.

This is the function call
[code]

I tried both with the callback and without the callback.

Furthermore, [the documentation](https://docs.min.io/docs/javascript-client-api-reference.html#fGetObject) states the contrary:

[2021-03-18 11:33] prakashsvmx commented on #915
Yes. @marnec  You are correct as per doc
.

[2021-03-20 10:38] #898 closed

[2021-03-22 05:12] prakashsvmx commented on #915
Since it is an `async` action with streaming file write operation and it does not have a return value.
but you could still try if any post processing is required also can found in functional tests:
[code]

[2021-03-22 05:12] #915 closed

[2021-03-22 06:00] prakashsvmx commented on #914
Please feel free to re-open with replication steps and possibly  code example with configuration settings.

[2021-03-22 06:00] #914 closed

[2021-03-29 13:22] manuFL commented on #737
@gebv Hi gebv, I've got the first point, could you kindly explain me the second? I'm using traefik with k8s.

Thank you in advance

[2021-04-01 08:50] prakashsvmx commented on #863
@charleshall888 @kayotimoteo  Versioning support has been merged in master. Please have a look.

[2021-04-02 21:04] made-by-traxam opened #918 "listenBucketNotification responds with 'AccessDenied' in JS client although permitted"
Hey, I'm trying to listen to bucket notifications using the minio-js client but I'm getting an `Access Denied` error when running `listenBucketNotification`. I am running the poller on a user with the `s3:ListenBucketNotification` permission allowed for the bucket (the setup script is attached below).

I have already tried the following:
* receive notifications from the minio JS client **with the

[2021-04-03 21:47] made-by-traxam commented on #918
Hi again,

while looking for the difference between the clients, I ran `mc watch` with the `--debug` flag and found out that the `mc` CLI sends a location-request before starting to listen for events (log attached below). This request fails because I have not added the `s3:GetBucketLocation` permission to the user policy for the bucket. Adding this permission also makes the node client work.

I th

[2021-04-04 04:44] prakashsvmx commented on #918
@made-by-traxam i request you to kindly verify the behavior with AWS s3 /sdk and compare the same .

[2021-04-04 11:57] made-by-traxam commented on #918
I'm not sure how to do this with the s3 SDK. Isn't `listenBucketNotification` an extension that only works on minio servers (and thus isn't supported by the aws SDK)? At least the [`s3:ListenBucketNotification` permission](https://docs.min.io/minio/baremetal/security/IAM/iam-policies.html#policy-action.s3-ListenBucketNotification) is supposed to be MinIO-exclusive, according to the docs.

[2021-04-14 09:58] prakashsvmx commented on #884
@onip  Please have a look at the PR.

[2021-04-14 10:10] onip commented on #884
@prakashsvmx I'm not a `minio-js` developer nor an S3 API expert, all I can do is sending a big thank you for your work.

[2021-04-20 13:25] Hazeman28 opened #921 "xmlobj.Contents.forEach is not a function"
For some reason distribution version of the package does not wrap all `xmlobj.Contents` accesses with `toArray`. I checked source code, and it seems everything is fine there, but for some reason in the `node_modules/minio/dist/main/xml-parsers.js` first access of the `xmlobj.Contents` (line 387) is not wrapped with `toArray`.

I might be missing something obvious here.

## How to reproduce

I'm us

[2021-04-20 14:18] prakashsvmx commented on #921
Is it with latest mater or could you specify the exact version used ? Possibly with code example to replicate it. ?

[2021-04-20 15:23] Hazeman28 commented on #921
I'm using version 7.0.18. Since I'm using the mentioned `express-middleware-minio` package, the only code example I can provide is my usage of that package:
[code]
Internally that package calls `listObjects` method of the minio client. Here is [a link](https://github.com/yucigou/express-middleware-minio/blob/c373af31621f0cf294881fb38f1fadd836745527/src/minio-client.js#L99) for that file if it help

[2021-04-21 03:37] prakashsvmx commented on #921
@Hazeman28  i think the latest version is `7.0.19` could you try to upgrade and  check ?

[2021-04-21 08:41] Hazeman28 commented on #921
When I install `minio` on a new project with `yarn add minio`, it installs version `7.0.18`. If I try to manually change its version to `7.0.19` in `package.json` and run `yarn install` I get this message:
[code]
Do I need to specify something like `yarn add minio@latest`?

[2021-04-22 02:16] NoManPlay opened #922 "how to use minio in vite2.x?"
when I use minio in vite2.x,have wrong as
`sax.js:222 Uncaught TypeError: Cannot read property 'prototype' of undefined`
found in [https://github.com/vitejs/vite/issues/1770](url)
but when i `yarn add stream` have wrong as
`Uncaught TypeError: Super expression must either be null or a function`

[2021-04-22 10:11] prakashsvmx commented on #922
could you link a sample code? like code sandbox etc ?

[2021-04-22 11:13] Hazeman28 commented on #921
@prakashsvmx for now I resolved problem by installing minio directly from the GitHub. But updated npm package would be preferred.

[2021-04-22 16:34] sasanksasi commented on #846
Please release this change it is very important.

[2021-04-25 09:02] Ailsa0823 opened #924 "xmlobj.Contents.forEach is not a function"
In version 7.0.18, when there is only one piece of data in the bucket, call javascript api listObjects, parseListObjects function of xml-parsers.js file 387 line xmlobj.Contents.forEach error report

[2021-04-25 10:04] prakashsvmx commented on #924
@Ailsa0823

https://github.com/minio/minio-js/issues/921

Please have a look for a solution. Once there is a newer release , it would work fine.

[2021-04-25 10:04] prakashsvmx commented on #924
Closing this as a duplicate.

[2021-04-25 10:04] #924 closed

[2021-04-26 02:19] Ailsa0823 commented on #924
When will the new npm version be released

[2021-04-26 02:19] Ailsa0823 commented on #924
@prakashsvmx When will the new npm version be released

[2021-04-27 09:33] zoltan-mihalyi opened #926 "TypeError: xmlobj.Contents.forEach is not a function"
When the bucket contains a single file, this throws an error:

[code]
`xml-parsers.js:387:21`

Probably, there is a missing toArray() call.

The toArray call was added then removed in this PR: in https://github.com/minio/minio-js/pull/877

added in https://github.com/minio/minio-js/pull/877/commits/0d94636c2a9cc93906bdfc4e51810a1fd0dea673
removed in https://github.com/minio/minio-js/pull/877/commi

[2021-04-27 09:48] prakashsvmx commented on #926
Please refer to
#924
 https://github.com/minio/minio-js/issues/921#issuecomment-824749668

After a new release, it would be solved

Marking this as a duplicate.

[2021-04-27 09:48] #926 closed

[2021-04-27 10:47] zoltan-mihalyi commented on #921
I think issues should not be closed before the release.
The same bug was reported multiple times, because we can't find the original issue. When I find the original issue, which is closed, I assume my bug report is different, because it still exists in the latest version.

[2021-04-27 13:36] Hazeman28 commented on #921
@zoltan-mihalyi you are right. Reopening this.

[2021-05-11 19:24] hauck-jvsh opened #928 "support to assume role with webIdentity"
MinIO supports  webIdentity, so the minio-js sdk should also support this. I made a small static function that get Temporally Credentials From a JWT Token using the assume role with webIdentity action.

[2021-05-12 09:32] gogogo1024 commented on #924
在线等～ waiting online

[2021-05-12 09:39] prakashsvmx commented on #924
We are adding more APIs and they are in review before we could plan a release.

@gogogo1024 Priority fixes/releases require [SUBNET Subscription](https://min.io/pricing)

[2021-05-12 09:51] gogogo1024 commented on #924
thanks  , I fix it in local ~
![Uploading 截屏2021-05-12 下午5.50.43.png…]()

[2021-05-13 15:01] Zibbp opened #931 "Get usage statistic."
I was looking at the documentation but couldn't find a way to retrieve the the Minio usage statistic found in the web interface. Is there a way to get this information from the library?

![Usage](https://i.imgur.com/8f7POjc.png)

[2021-05-13 15:06] harshavardhana commented on #931
Look at https://github.com/minio/madmin-go package

[2021-05-13 15:06] #931 closed

[2021-05-14 18:05] karlschriek commented on #841
Is anyone able to take this up? @Jeffwan made the needed changes for minio-go, but we still need this for minio-js.

[2021-05-17 15:57] ondra-m commented on #904
Can you please make next release?

[2021-05-22 15:04] MichaelGrigoryan25 opened #932 "Access an object by its URL in MinIO"
Hello, I am trying to access a file at my local MinIO server at let's say `localhost:9000/foo/bar`, but I am getting redirected to the login page of MinIO, instead I want to get the object itself (image/video/etc.).

How can I accomplish this and is there a way to do this without S3 policies?

So far, I have tried creating an Object URL, but it worked for a limited amount of time and I need a perm

[2021-05-24 14:14] pyalpha opened #933 "global is not defined"
I am trying to connect a Vue.js( with Vite ) app to my Minio server, but I always get an error with "global is not defined".
My Code looks like this:
![grafik](https://user-images.githubusercontent.com/40123243/119360813-4d76e880-bcab-11eb-8025-f223c5024812.png)

This is the errror
![grafik](https://user-images.githubusercontent.com/40123243/119360860-59fb4100-bcab-11eb-9850-36e97d182300.png)

[2021-05-24 14:26] prakashsvmx commented on #933
@pyalpha Please add or link a sample repo or codesandbox with replication steps.

[2021-05-24 14:29] prakashsvmx commented on #933
Few node native packages might have to be installed.. like stream, fs etc..

[2021-05-24 14:36] pyalpha commented on #933
Here, this should fit
https://codesandbox.io/s/brave-thunder-7eo1n?file=/src/App.vue

[2021-05-24 15:19] prakashsvmx commented on #933
Could you follow this (since the link looks like browser lib instead of nodejs .)

https://github.com/minio/minio-js/issues/594#issuecomment-307268782

[2021-05-24 15:21] pyalpha commented on #933
I will try it and then let you know

[2021-05-24 16:34] pyalpha commented on #933
I've given up on it, it's a shame it's so incompatible. I will now write a small Python script so that I can use it at all.

[2021-05-24 16:34] #933 closed

[2021-05-27 06:20] #884 closed

[2021-05-27 06:30] kannappanr commented on #932
@MichaelGrigoryan25 It is not possible to do this without setting bucket policies. If there is bucket policy set, this will not direct to the login page. This question itself doesn't have anything to do with minio-js SDK. Closing this as answered. Please feel free to reach out to us at https://slack.min.io for further clarifications

[2021-05-27 06:30] #932 closed

[2021-05-27 06:31] kannappanr commented on #922
@NoManPlay Closing this issue. Please feel free to reach out to us when you have the requested information

[2021-05-27 06:31] #922 closed

[2021-05-27 07:22] #831 closed

[2021-05-31 05:59] prakashsvmx opened #935 "Issue disappears for customer user when a message sent by an engineer."
I am able to see this consistently.

Steps:
Login as customer user in Browser 1 and navigate to issues page: Firefox

Login as engineer in Browser 2 and send a message in  an issue: Chrome

Switch to browser 1 and verify that all issues are listed. ( in the video the issue on which message was sent, disappeared)

https://user-images.githubusercontent.com/23444145/120146586-f0c38280-c202-11eb-9d51-

[2021-05-31 06:03] #935 closed

[2021-06-01 15:55] colorzzr commented on #928
Hi I am also wondering if we can support the webIdentity in SDK. Thanks!

[2021-06-02 10:39] tonmanna commented on #842
Thanks @xsfour It works fine for me.
But another layer on my infrastructure. We use Cloudflare in front of Nginx. We add custom rules for bypass cache to solve this problem.

[2021-06-03 15:37] Jakesterwars opened #936 "Lodash audit failure"
https://www.npmjs.com/advisories/1673 Needs to be upgraded to the .21 version.

[2021-06-03 17:59] Pierre-Green commented on #840
You have to prefix the source file with its bucket

`await s3Client.copyObject(bucket, 'newFile', bucket + '/oldFile', conds)`

[2021-06-07 06:03] rupamking1 opened #937 "respHeaders in Params, Why not in headers"
presignedGetObject respHeaders in Params, Why not in headers,
because Params is not encrypted in https but headers is encrypted  in https.

how to pass respHeaders Object via headers? Please answer me...

[2021-06-07 10:31] prakashsvmx commented on #937
Could you please add more details on what exactly is the problem may be with some examples or code snippets ?

[2021-06-07 10:37] rupamking1 commented on #937
var presignedUrl = s3Client.presignedGetObject('hkhk', 'b.svg', 10000, {'aaaaa': "bbbbb"} ,function(e, presignedUrl) {
  if (e) return console.log(e)
  console.log(presignedUrl)
})

{'aaaaa': "bbbbb"} it passed on param.
https://play.min.io:9000/hkrish7/b.svg?aaaaa=bbbbb&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=Q3AM3UQ867SPQQA43P2F%2F20210607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=202

[2021-06-07 11:06] prakashsvmx commented on #937
Since the request is signed, i think you do not have to be concerned. Else you could explore AssumeRole API  i guess.

[2021-06-07 11:08] prakashsvmx commented on #936
@Jakesterwars  Thank you for reporting , we will upgrade it soon.

[2021-06-07 11:34] rupamking1 commented on #937
can you please answer this question, What is AssumeRole API.

[2021-06-08 16:05] pedraldo commented on #911
Hi @Eriion,

I'm currently facing the exact same problem as yours.
So I wonder if you found a solution (please say yes 🙏 )

To upload a file, I send from my Front App a form-data (including the file) to my NestJS server, then, just like you, I use `putObject` function like this for example :
[code]

I also use MinIO `presignedGetObject` to download a file and to try to build a preview in an iframe

[2021-06-08 17:14] pedraldo commented on #911
An hour later, I can confirm that usage of `presignedPutObject` to upload file fix this issue.
I've the feeling with that method, file is uploaded with his mimeType correctly set. With the previous method (with `putObject`) when a file was uploaded, it appeared with a grey logo on its left (in MinIO UI files list).
Now for an image (for example) uploaded, logo is red (same color than an upload dir

[2021-06-09 04:17] mitni455 commented on #876
This seems to occur if there is only one object in the bucket, then `xmlobj.Contents` returns the object (not an array of Objects).

e.g.
See `main/xml-parsers.js`

[code]

#### Expected
[code]

[2021-06-09 05:56] prakashsvmx commented on #876
@mitni455 Yes. this is fixed in the master. it will be released as soon as we are done with few more APIs.

[2021-06-09 07:42] ebozduman commented on #876
Thank you @mitni455 for the information.
Thank you @prakashsvmx for replying.
This fix and quite some API support changes are on the way to release.
Please stay tuned.

[2021-06-09 09:09] Eriion commented on #911
Hi @pedraldo

Thank's for your code and answer ! It help me to find the solution about my issue.

I've tried your solution but didn't work as expected, maybe i missed something or not exactly same used in our project.

I've seen during testing with your solution that i only uploading the buffer of my file and missing some file information like size, mimetype and other... I've tried to add size and

[2021-06-09 09:09] #911 closed

[2021-06-09 09:14] pedraldo commented on #911
Hey @Eriion

Happy that my comments helped you 😊 .
Ok so what you introduced here confirmed that with our old common use of `putObject`, mime type wasn't correctly set and so not correctly recognized by MinIO once the file was uploaded.
Thank you for your additionnal solution, I wonder if I will not prefer yours 😉

[2021-06-09 16:07] oasisvali opened #939 "Next Release Roadmap"
Thanks for the great work on the minio ecosystem folks!

Just wondering if Is there a roadmap/plan for when the next version of minio-js will be released? It has been ~6 months since the last release and there are several new features added since then that we would like to leverage. Thanks once again!

[2021-06-10 01:25] prakashsvmx commented on #939
Priority fixes and roadmap influence are available aa part of subscriptions (https://min.io/pricing). We are planning a release soon though. Please stay tuned.
Closing this as it does not require any technical investigation.

[2021-06-10 01:25] #939 closed

[2021-06-10 07:34] gitzjp commented on #904
I had the same problem and i solved it using listObjectsV2().

[2021-06-10 14:18] prakashsvmx commented on #937
https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html

[2021-06-10 14:21] prakashsvmx commented on #918
@made-by-traxam i will investigate this further.

[2021-06-10 14:22] #907 closed

[2021-06-12 14:54] fschuetz04 commented on #886
Any update on this? The latest version is still 7.0.18, which does not include the mentioned fix.

[2021-06-12 15:26] prakashsvmx commented on #886
@fschuetz04 we are planning for a release soon. Please stay tuned.

[2021-06-15 08:27] rupamking1 opened #941 "Upload multiple file or folder"
how to Upload multiple file or folder

[2021-06-15 08:56] prakashsvmx commented on #941
you could try [mc client](https://docs.min.io/docs/minio-client-complete-guide.html)
The following commands might be helpful based on your use case.

[mc cp](https://docs.min.io/docs/minio-client-complete-guide.html#cp)
[mc mv](https://docs.min.io/docs/minio-client-complete-guide.html#mv)
[mc mirror ](https://docs.min.io/docs/minio-client-complete-guide.html#mirror)

[2021-06-15 09:07] rupamking1 commented on #941
I want to upload without using Shell or cmd

[2021-06-15 09:09] prakashsvmx commented on #941
[code]

[2021-06-15 09:27] lerminou opened #942 "Is it planned to build a new release soon ?"
the latest tag was on december 2020, is it planned to build a new release ?

i'm very interested about tagging feature: https://github.com/minio/minio-js/pull/916

the minio official page links directly to master I think ? because the doc has already these methods
https://docs.min.io/docs/javascript-client-api-reference.html#getObjectTagging

[2021-06-15 09:43] prakashsvmx commented on #942
Yes. We are planning a release soon. Stay tuned.

We do not have versioned docs release. Please feel free to contribute.

Please note:
Priority releases/fixes require [subscription](https://min.io/pricing).

Closing this since it not related to a bug or feature request.

[2021-06-15 09:43] #942 closed

[2021-06-15 09:44] #941 closed

[2021-06-15 09:47] prakashsvmx commented on #895
Please have a look at PR #940

[2021-06-22 08:19] aloupis opened #943 "listObjectsV2 when there is & in object name"
Version: **7.0.18**
Operation: **listObjectsV2**

When calling putObject operation for a file that contains the char & (example&.pdf), the file is correctly uploaded on minio. The created object has the name example&.pdf. If this object 's key is test/example&.pdf , when we call listObjectsV2 with prefix 'test/' the object that is returned, has the name example`&amp;`.pdf instead of the correct ex

[2021-06-22 08:24] klauspost commented on #943
Looks the same to me. Copy+Paste error?

[2021-06-22 08:31] aloupis commented on #943
@klauspost sorry the editor has transformed `&amp;` to &  😅  .

[2021-06-22 10:59] prakashsvmx commented on #943
I see that between the releases  `xml2js` has been replaced with `fast-xml-parser` .
So it might require  special handling as per S3 Guide :
https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html

[2021-06-23 15:59] Chhunneng commented on #860
`python
result = client.stat_object("bucket", "object.txt")
current_metadata = {}
for key in result.metadata:
    if "X-Amz-Meta" in key:
        current_metadata[key.split("-")[-1]] = result.metadata[key]
client.copy_object(
    "bucket",
    "object.txt",
    CopySource("bucket", "object.txt"),
    metadata={**current_metadata, "Age": "121212",
              "Owner": "me", "money": "1M $"},

[2021-06-23 16:23] prakashsvmx commented on #860
@Chhunneng is it on the master branch  or any specific release/version. Because a PR is open that implements the v2 of copy object with backwards compatibility.

[2021-06-23 16:31] Chhunneng commented on #860
It's on the minio-py and latest version.

[2021-06-23 17:34] prakashsvmx commented on #860
Please move this discussion to https://github.com/minio/minio-py ?

[2021-06-28 07:08] willin opened #944 "Cannot Create a bucket with object locking"
Code Using example  https://github.com/minio/minio-js/blob/master/examples/make-bucket.js#L35-L39

[code]

I found that:

https://github.com/minio/minio-js/blob/master/src/main/minio.js#L542-L545

but npm package doesnot support (latest 7.0.18)

[code]

[2021-06-28 08:15] prakashsvmx commented on #944
This has not been released. Please stay tuned.

[2021-07-02 07:22] snigdhasahoo commented on #795
I need to upload files from next js. How can i use Minio js here

[2021-07-02 09:01] prakashsvmx commented on #795
Do you want to use aws sdk or minio-js sdk ?

You can find the instructions of udane in README.md.

[2021-07-02 13:08] chengmeng1117 opened #945 "Is it compatible with IPv6?"

[2021-07-02 13:19] chengmeng1117 opened #946 "compatibility with IPv6"
https://github.com/minio/minio-js/blob/896939611dd967d6ba8a38d7cb8726fa36371e1e/src/main/helpers.js#L104

[2021-07-02 13:19] #945 closed

[2021-07-05 08:26] prakashsvmx commented on #846
@lchayoun , @sasanksasi  PR #846 has been created to implement this. PTAL.

[2021-07-13 17:06] rupamking1 opened #950 "TypeError: Cannot read property 'Client' of undefined"
var Minio = require('minio')   working but
import Minio from 'minio';    not working

// var Minio = require('minio')
import Minio from 'minio';

var s3Client = new Minio.Client({
  endPoint: 'play.min.io',
  port: 9000,
  useSSL: true,
  accessKey: 'Q3AM3UQ867SPQQA43P2F',
  secretKey: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG'
});
var file = './aa.yml'

setTimeout(async () => {
  let up = await s

[2021-07-14 01:12] prakashsvmx commented on #950
Es6 modules are not supported. It would be gradually updated . Please feel free to send a PR.

[2021-07-14 03:13] raynaldilalang commented on #876
i just had the same issue, and avoided the error using listObjectsV2

[2021-07-14 03:55] rupamking1 commented on #950
Pls check this error, same problem in es6 & ES2019.

tsconfig.json-
{
  "compilerOptions": {
    "lib": ["es6", "dom"],
    "target": "es6",
}

TypeError: Cannot read property 'Client' of undefined
    at Object.<anonymous> (C:\node\Test.ts:83:26)
    at Module._compile (node:internal/modules/cjs/loader:1109:14)
    at Module._compile (C:\Users\uuic\AppData\Roaming\npm\node_modules\ts-node-dev\nod

[2021-07-14 04:33] prakashsvmx commented on #950
Please note:  Es6 modules are **NOT** supported

[2021-07-14 05:01] hanumanjiblog commented on #950
Also es5 and es6 both makes error,
Please correct this code & send how to to use typescript import for Minio.

[2021-07-14 05:02] rupamking1 commented on #950
Also es5 and es6 both makes error,
Please correct this code & send how to to use typescript import for Minio.

[2021-07-14 11:02] dropbox99 commented on #865
what is the conclusion dude ??? i need to know this!

[2021-07-14 11:13] prakashsvmx commented on #865
@dropbox99
could you try
`minioClient.setRequestOptions({timeout:<xxxx>})`

[2021-07-17 03:48] Dannybrown2710 commented on #588
Use Proxy server

[2021-07-20 19:17] bolner opened #952 "putObject hangs if bucket name starts with slash"
It took some time to figure out that this was the reason of the problem.

This hangs:
[code]

This works:
[code]

(An error response or trimming slashes would be nice.)

[2021-07-20 19:29] bolner commented on #952
Ah It actually throws an error: InvalidBucketNameError: Invalid bucket name

Just the code expected the callback as the source of all error messages.

[2021-07-20 19:29] #952 closed

[2021-07-26 00:49] wanpeng2008 commented on #950
use import {Client} from 'minio' instead

[2021-07-26 09:23] prakashsvmx commented on #950
Closing this as it is not a functional issue and more of a usage question.

[2021-07-26 09:23] #950 closed

[2021-07-28 09:40] kazeens opened #953 "Documentation does not correspond with the latest version"
JS  client documentation is misleading and is not corresponding with the latest release!

A lot of methods mentioned in the doc are absent.

When they are going to appear?

[2021-07-28 09:55] prakashsvmx commented on #953
We have few PRs in Review/Test for the release. Please stay tuned.

@kazeens

[2021-08-02 13:28] pgsekaran commented on #718
Even i am also getting the same issue pls let me how to use the 'const Minio = require('minio');'

[2021-08-04 15:55] bhallstein opened #954 "removeObjects: "undefined is not a constructor (evaluating 'new _util.default.TextEncoder()')""
Hi there, really liking the minio library, thanks! Have come across an apparent issue with `removeObjects` that's blocking us from going live with it right now, as we want to.

A TypeError is being thrown inside `removeObjects()`. Here is a screenshot of the web inspector showing the location of the error within the method call. I've expanded the _utils variable in the right hand panel to illustra

[2021-08-04 16:04] prakashsvmx commented on #954
Please help us with a minimal steps /setup to replicate.

[2021-08-04 16:19] bhallstein commented on #954
Hi @prakashsvmx, thanks for your reply! I've done a little more digging and I've found the cause of the problem.

Minio is relying on the 'util' package: https://www.npmjs.com/package/util As described in https://github.com/browserify/node-util/issues/46, `util` does not include node's utils.TextEncoder/Decoder. However Minio is expecting it to be there, as per the screenshot above.

For browser e

[2021-08-04 16:26] prakashsvmx commented on #954
We will investigate this. We really have  not performed aggressive testing on the browser environment.

[2021-08-04 17:25] bhallstein commented on #954
No worries, many thanks for your reply @prakashsvmx ! Really appreciated.

I got a forked copy of minio working for us with pretty minimal changes, you can see there here in case this is useful: https://github.com/bhallstein/minio-js/commit/685d47e7c99fa98c1fc43cfdfa10ee091ef8ee3f After substituting in the global browser copy of TextEncoder, I had just one further error that md5 was being run on a

[2021-08-05 09:48] prakashsvmx commented on #718
@ng-plex @pgsekaran
Please try
[code]

[2021-08-05 09:51] prakashsvmx commented on #954
@bhallstein  You could send across a PR if viable .

[2021-08-05 15:55] alinjie commented on #953
Any updates on this?

[2021-08-05 16:18] prakashsvmx commented on #953
@alinjie the release is still in Work in progress.

[2021-08-06 17:30] gmacmaster commented on #886
Any ideas as to what soon will be?

[2021-08-06 22:07] prakashsvmx commented on #886
@kannappanr

[2021-08-10 06:31] prakashsvmx commented on #954
@bhallstein  The fixes are ready for review. Please have a look and possibly test and confirm the fixes.
Thank you again for reporting the issue.

A sample app for testing is available at https://github.com/prakashsvmx/minio-js-web-browser-example

[2021-08-13 18:54] #954 closed

[2021-08-16 01:51] prakashsvmx commented on #937
Closing this as it is not related to any bug/issue.

[2021-08-16 01:51] #937 closed

[2021-08-16 08:46] prakashsvmx commented on #874
This is working as expected .
Sample project URL:
`https://github.com/prakashsvmx/minio-js-web-browser-example`

[code]

The error when downloading after 5 seconds is:
[code]

[2021-08-16 08:46] #874 closed

[2021-08-16 21:51] #936 closed

[2021-08-18 02:17] WolvenSpirit commented on #769
This still happens when importing in `commonjs` style.
Both import methods `import Minio from "minio"` and `import * as Minio from "minio"` fail.
The solution is quite simple though:
[code]
This way you can have the intellisense while still importing it as in the example.

[2021-08-18 02:48] prakashsvmx commented on #769
A.sample usage on web can also be found here.
https://github.com/prakashsvmx/minio-js-web-browser-example/blob/master/src/mc.js

[2021-08-19 06:21] narrowizard commented on #921
Any updates?

[2021-08-20 04:02] prakashsvmx commented on #921
@narrowizard @Hazeman28  Please test with the latest version.7.0.20.

[2021-08-20 04:02] #921 closed

[2021-08-20 04:02] prakashsvmx commented on #953
@alinjie @kazeens Please test with the latest version.7.0.20.

[2021-08-20 04:02] #953 closed

[2021-08-20 04:03] prakashsvmx commented on #944
Please test with the latest version.7.0.20.
@willin

[2021-08-20 04:03] #944 closed

[2021-08-20 04:04] prakashsvmx commented on #897
Please test with the latest version.7.0.20. @priyankashah2017

[2021-08-20 04:04] #897 closed

[2021-08-20 04:04] prakashsvmx commented on #863
Please test with the latest version.7.0.20. @charleshall888  @kayotimoteo

[2021-08-20 04:06] prakashsvmx commented on #855
@hanu18  Please find a working sample https://github.com/prakashsvmx/minio-js-web-browser-example ( test with local minio server )

[2021-08-20 04:06] #855 closed

[2021-08-20 04:06] #863 closed

[2021-08-20 04:08] prakashsvmx commented on #822
@Max9419  thank you. I will close this.

[2021-08-20 04:08] #822 closed

[2021-08-20 04:19] prakashsvmx commented on #842
Closing this as it does not require a fix on the SDK.

[2021-08-20 04:19] #842 closed

[2021-08-20 04:22] prakashsvmx commented on #779
Closing this as there is no activity and it is more to do with the environment setup.

[2021-08-20 04:22] #779 closed

[2021-08-20 04:22] prakashsvmx commented on #904
Please test with latest released version.

[2021-08-20 04:22] #904 closed

[2021-08-20 04:25] prakashsvmx commented on #778
Closing this as there will be a new API to make such calls. open issue: #928

[2021-08-20 04:25] #778 closed

[2021-08-20 05:27] narrowizard commented on #921
it works, thank you very much @prakashsvmx , you saved my day.

[2021-08-20 11:46] prakashsvmx commented on #726
This can be tested in latest release.

[2021-08-20 11:46] #726 closed

[2021-08-20 11:49] prakashsvmx commented on #867
This can be tested in a react app. Example: https://github.com/prakashsvmx/minio-js-web-browser-example

[2021-08-20 11:49] #867 closed

[2021-08-21 01:26] beeing commented on #726
Thanks for this release.

The typescript definitions needs update as well. In https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/minio

[2021-08-31 12:25] prakashsvmx commented on #928
@hauck-jvsh  Could you try this PR #960

[2021-09-01 09:11] prakashsvmx commented on #841
@karlschriek  @Jeffwan  Please have a look at : PR #960

[2021-09-02 10:36] qing8888 opened #961 "How to use useSSL and presignedPutObject to get https url?"
Hello, how to use ```useSSL``` and ```presignedPutObject``` to get ```https``` url?

[2021-09-02 11:55] prakashsvmx commented on #961
It can be found in the examples/functional tests.

for example: a functional test :

[code]

[2021-09-02 11:55] #961 closed

[2021-09-02 14:16] qing8888 commented on #961
When I use port ```9000``` and HTTPS, I cannot get buckets.(useSSL ```true``` or ```false```)

[2021-09-02 14:22] prakashsvmx commented on #961
Please add additional information on what is the configuration (TLS) minio server mode , errors,  possibly add replication steps with an example.

[2021-09-06 06:17] prakashsvmx commented on #918
@made-by-traxam Thank you for the detailed replication steps.

The new user needs explicit permission or the default region 'us-eat-1' set in the client initialization.

[code]
I will send a fix  to send the (optional)  region. with default value.

[2021-09-07 03:56] prakashsvmx commented on #818
@GuillaumeNachury  please have a look at : https://github.com/minio/minio-js/pull/960

[2021-09-11 06:59] anirbandas18 commented on #588
What is the equivalent API call to this CLI command that will provide me the same output?

[2021-09-14 15:36] meotimdihia commented on #842
@tonmanna What is Cloudfalre config to fix this problem? Please give more information about this.

[2021-09-14 15:48] meotimdihia commented on #842
@tonmanna  What is Cloudflare config to fix this problem? Please give more information about this.

[2021-09-20 15:18] anirbandas18 commented on #588
This is useful

[2021-09-21 23:55] #946 closed

[2021-09-21 23:56] #918 closed

[2021-09-23 13:08] mobulaco opened #964 "setObjectTagging, removeObjectTagging errors on amazon aws s3"
Hello,

Errors with tagging as direct aws s3 client how it works with play.min.io.

Everthing else that i tried also works on aws s3 account.

Thanks :)

**setObjectTagging with tagsMap = {"vuhu":"string"}**
S3Error: The Content-MD5 you specified did not match what we received.
    at Object.parseError (/root/projects/s3/node_modules/minio/dist/main/xml-parsers.js:89:11)
    at /root/projects/s3/n

[2021-09-23 13:27] prakashsvmx commented on #964
Please add code block to replicate the issue.
We will investigate @mobulaco

[2021-09-23 14:19] mobulaco commented on #964
Sure @prakashsvmx,

The code is quite simple from tutorials :)

if you uncomment play.min.io block and comment other one, it works as expected.

`var Minio = require('minio')

/*var minioClient = new Minio.Client({
    endPoint: 'play.min.io',
    port: 9000,
    useSSL: true,
    accessKey: 'Q3AM3UQ867SPQQA43P2F',
    secretKey: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG'
});*/

var minioClient =

[2021-09-25 08:17] krainboltgreene opened #966 "Endpoint validation is kind of confusing"
So first off it's not entirely obvious that what you want is actually a [FQDN](https://en.wikipedia.org/wiki/Fully_qualified_domain_name) where most people see "endpoint" as a term of art meaning URI.

Second of all, the library does a whole heck of a lot of sketchy validations for this FQDN when really this is something that should be left to a domain expert library.

Finally, what really seems t

[2021-09-27 15:13] hanumanjiblog opened #967 "metadata: null"
Please fix this error "metadata: null"

await s3.fPutObject('buckethk', `a0.hk`, './a0.hk', { example: '5379' })

var array = []
var stream = s3.extensions.listObjectsV2WithMetadata('buckethk', '', true, '')
stream.on('data', function (obj) { array.push(obj) })
stream.on('error', function (err) { console.log(err) })
setTimeout(async () => {
  console.log(array)
}, 3000);

output-
{
    name: 'a0.h

[2021-09-27 16:20] prakashsvmx commented on #967
@hanumanjiblog  will check this and investigate.
Thank you for reporting

[2021-09-28 05:51] prakashsvmx commented on #967
`s3.extensions.listObjectsV2WithMetadata` is a minio only api (extension api ) . It works as expected as i tested with play.min.io and locally running minio instances.

 And it is not expected to work with s3.

[2021-09-28 05:51] #967 closed

[2021-09-28 10:09] OxCom commented on #943
Temp solution to decode file names:
[code]

[2021-09-28 15:49] prakashsvmx commented on #964
@mobulaco  The fix is in : PR #968 . Please have a look.

[2021-09-28 18:27] krainboltgreene opened #969 "fPutObject: The specified multipart upload does not exist."
Hello! I am having issues and I think I've nailed it down to either network issues on my side or the client itself.

Here's the setup:

  1. I have a cluster of 3 minio instances
  	1. Each is on a vsphere virtual machine with 2gb of ram
  	2. Each is running inside the official docker instance
  	3. Each has 4 disks mounted to 4 docker mounts
  2. I have a cluster of 3 nginx instances in front

[2021-09-28 18:34] kannappanr commented on #969
@krainboltgreene when you are executing this command, can you also run `mc admin trace -v -a <ALIAS>` and paste the output here? Let's stick to talking to one MinIO instance directly

[2021-09-28 18:40] krainboltgreene commented on #969
I will do that immediately.

[2021-09-28 19:37] krainboltgreene commented on #969
I'm closing this because after trying to trace it I'm no longer having an issue.

I believe firmly this means it's in the realm of my network layer and nothing to do with minio.

[2021-09-28 19:37] #969 closed

[2021-09-28 19:56] VoobanFTrepanier opened #970 "setBucketLifecycle send the wrong MD5"
This might be related to #964, I got similar issues when I try to use setBucketLifecycle as shown in minio's documentation : https://docs.min.io/docs/javascript-client-api-reference#setBucketLifecycle

The error message that I got:
S3Error: The Content-Md5 you specified did not match what we received.

I had a quick check on the #968 fix and tried to apply it to LifeCycle's MD5, which actually fix

[2021-09-29 01:10] prakashsvmx commented on #970
I will test the fix in AWS environment once more .. and run functional tests.

[2021-09-29 06:29] mobulaco commented on #964
@prakashsvmx I've tested (set tag, remove tags, get tags) on AWS S3 and it works perfectly.

Thanks. :)

[2021-09-29 06:29] #964 closed

[2021-09-29 06:49] mobulaco opened #971 "presignedUrl metada adding bug? and a dirty fix :)"
Hello,

I couldn't get success to set any metadata with **presignedUrl/presignedPutUrl** and couldn't found how to.

While digging, I realized that the **preSignedUrl** doesn't pass any header parameters to **getRequestOptions**;

This is just my quick dirty fix, sorry for that, I am just trying to write a fast PoC for my potential customer. O:-)

In **presignedUrl** method:

and

This is the samp

[2021-09-29 08:21] rupamking1 opened #972 "Metadata or Header in presignedPut or presignedPost"
No Option avilable to set custom header or metadata in presignedPut or presignedPost.
Please Add metadata or header in presignedPut or presignedPost.
This option is available in s3;

https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html

[2021-09-29 09:52] prakashsvmx commented on #972
Please have a look at:
https://docs.min.io/docs/javascript-client-api-reference#presignedPostPolicy
https://github.com/minio/minio-js/blob/master/examples/presigned-postpolicy.js

[2021-09-29 09:57] hanumanjiblog commented on #972
give me some time

[2021-09-29 12:35] rupamking1 commented on #972
Ok I understand, I need to verify user put operation and authenticated user will able to put, for that reason please tell me can I add any key value pair on put url, only specific user will able to put his data.

[2021-09-30 12:17] prakashsvmx commented on #972
It is unclear if it is application specific use case or missing s3 spec implementation.It would be great if you could add some details, code examples etc. to illustrate the issue.

[2021-09-30 13:05] hanumanjiblog commented on #972
I already watched s3 has this feature on his Package but minio does not have. please implement verification header on minio.

[2021-10-16 20:02] patchthecode commented on #772
Any update on this?

I am having the same issue.
I want to provide a presigned URL to my client app.

@kannappanr left a description to follow

but i have no idea what those functions should look like.

[2021-10-17 01:55] prakashsvmx commented on #772
Please explorer Assume Role API .
For priority support please have a look at min.io/pricing .

[2021-10-17 02:29] patchthecode commented on #772
@prakashsvmx Just to clarify before i go the priority support route, the `Assume Role API` was build to handle something like this?  An app with over 100k users uploading images, videos etc to s3 buckets?   This assume role API is meant for this right?  I would hate to invest further time into this only to find out there was some misunderstanding.

[2021-10-17 11:26] patchthecode commented on #772
Is simply asking this question considered priority support? 😕

At this point I simply wanted to know what this SDK was capable of before I even consider using it.
After looking at the Assume Role API, i finally saw this line -->

This is all i needed to know. Therefore I wont be using it.
Thanks.

[2021-10-18 09:08] ssam13 opened #974 "setObjectTagging : The specified method is not allowed against this resource."
Hi guys 👋

I wrote an api to use **setObjectTagging** method of **MinIO**.

in my code I have this:

[code]

===========================================
I'm fully authorized to make any changes on any resources, but I always get the following error :
[code]

If someone could help me to get a solution ,that would be awesome.

Thanks!

[2021-10-18 11:00] #974 closed, assigned to nobody

[2021-10-19 12:13] garygan89 opened #975 "Inconsistent hash when GetObject"
Encountered that the SHA256 hash value from the concatenated response from each `dataStream.on('data')` is inconsistent for chunked download. Tried other libraries (crypto-ts, crypto-js, fast-sha256) but problem remains.
[code]

[2021-10-19 12:21] garygan89 commented on #975
Found a solution, just simply need to concate using Buffer.concat instead of joining if your object payload is binary.
[code]

[2021-10-19 13:27] #975 closed, assigned to nobody

[2021-10-22 03:18] muyuanqiang7 commented on #806
i found a solution, git clone node-js repository and run ```npm run browserify```, this will create minio-browser.js.
add ```<script src="assets/minio-brower/minio-browser.js" type="text/javascript"></script>``` to index.html
then you can use `window.MinIO`

[2021-11-03 07:55] lksnmnn commented on #820
I am getting this error too with filenames containing brackets  `( )`. The work around does not work on Mac Safari, as Safari will not decode the filename correctly.

Is this issue within minio-js or Minio server?

[2021-11-03 08:05] prakashsvmx commented on #820
https://github.com/minio/minio-js/pull/959 did you try ?

[2021-11-03 08:27] lksnmnn commented on #820
Just tried it. It still can't match the signature.

Test filename: `f().png`
Header added to `presignedGetObject`
[code]
It also does not work with `filename*=UTF-8''${filename}`

[2021-11-03 09:16] lksnmnn commented on #820
I believe there might be a difference on how JS and Go (?) encode URLs. I.e. JS does not encode `()` when using `encodeURIComponent`, but Go does. Anyway, even if I encode it manually, I still have the problem, that Safari does not care. So actually minio server would need to not encode these non-reserverd characters ?!

[2021-11-08 07:14] omondibrian opened #977 "InvalidEndpointError - in docker container"
Hello, am having trouble running my app inside a container as I keep on having this error.  works outside my container though

admin-service   | /Admin/app/node_modules/minio/dist/main/minio.js:103
admin-service   |       throw new errors.InvalidEndpointError(`Invalid endPoint : ${params.endPoint}`);
admin-service   |             ^
admin-service   | InvalidEndpointError: Invalid endPoint : '147.18

[2021-11-08 11:12] prakashsvmx commented on #977
please add more details about the setup . may be logs from containers as well.

[2021-11-09 13:05] omondibrian commented on #977
fixed the issue my k8s cluster was adding new line characters  to the injected environment variables solved it by trimming and off any white space

[2021-11-09 13:05] #977 closed

[2021-11-18 10:25] baphuc1998 commented on #806
I tried but seems it doesn't work :((. Do you have any other way?

[2021-11-30 16:59] lukepolo commented on #802
it would be nice if the error was catchable

[code]

[2021-11-30 17:17] prakashsvmx commented on #802
The callback has the error if only the call fails.
So
[code]

[2021-11-30 17:18] lukepolo commented on #802
yah for some reason it doesn't get into the callback , feel free to try it yourself as well~

[2021-12-01 08:57] mapleeit opened #982 "removeObjects Content-MD5 doesn't match (AWS S3)"
[code]

Payload:

[code]

Version: 7.0.23

[2021-12-01 09:02] prakashsvmx commented on #982
https://github.com/minio/minio-js/pull/968 - has been up for review. you could try with that branch.

[2021-12-01 12:41] mapleeit commented on #982
@prakashsvmx Thanks for your quick reply. Confirmed. With #968, it can work well. Looking forward to the new patch version.

[2021-12-01 12:41] #982 closed

[2021-12-01 12:46] prakashsvmx commented on #982
Thank you for trying it out.

[2021-12-07 03:10] prakashsvmx commented on #970
This PR has been merged. Please upgrade to the latest.

[2021-12-07 03:10] #970 closed

[2021-12-07 03:38] #943 closed

[2021-12-08 04:25] #966 closed

[2021-12-08 17:43] michaelkruglos opened #983 "getObject never calls end"
I have a small file stored in minio bucket.
I use the code from the example at https://docs.min.io/docs/javascript-client-api-reference#getObject .
The on("end") doesn't seem to be called.
If I print the chunks, it prints the whole file over and over again.
The code I use is here: https://github.com/Soluto/tweek/blob/master/e2e/integration/utils/minio.js
And the file that was uploaded to the bucke

[2021-12-08 17:44] harshavardhana commented on #983
@michaelkruglos We will take a look.

[2021-12-08 17:46] harshavardhana commented on #983
@michaelkruglos have you updated the dependency and tried with latest releases?

https://github.com/Soluto/tweek/blob/master/e2e/integration/package.json#L31 - our latest release is v7.0.25

[2021-12-08 17:49] michaelkruglos commented on #983
I tried with the latest version as well

[2021-12-08 18:38] michaelkruglos commented on #983
I've found the problem. It's on my side. Sorry.

[2021-12-08 18:38] #983 closed

[2021-12-09 17:18] jeffreyyi11 opened #984 "InvalidEndpointError: Invalid endPoint : undefined"
When trying to launch and test that I can connect I keep getting this error
event - compiled client and server successfully in 117 ms (203 modules)
wait  - compiling /_error (client and server)...
error - InvalidEndpointError: Invalid endPoint : undefined

[2021-12-09 18:02] prakashsvmx commented on #984
Please add more details on how the client is. initialized?
Any environment variables set ?

Which tests are being  run ?

[2021-12-09 18:15] jeffreyyi11 commented on #984
Client is being initialized with minio npm package using the example in the quickstart guide.
Only env variables are the access key and secrete key.
Using the bucketExists function to see if I can connect to the minio server.
Bucket is present on the dashboard.

[2021-12-09 18:26] prakashsvmx commented on #984
Please add some example/code to replicate the issue.

[2021-12-09 18:35] jeffreyyi11 commented on #984
const minioClient = new Minio.Client({
    endpoint: 'hoa-bc-fl.powerstonepm.com',
    port: 2082,
    accessKey: minio_access_key,
    secretKey: minio_secret
});

export default async(req, res) => {
    let data = req.body;
    console.log(data);
    try {
        minioClient.bucketExists(data, (err, exists) => {
            if(err) console.log(err);
            exists ? res.status(200).json('bu

[2021-12-09 21:52] prakashsvmx commented on #984
The Object keys are case sensitive .
`endPoint` would be the correct property. Please update the code.

From the examples:
[code]

[2021-12-09 21:52] #984 closed

[2021-12-13 21:31] ariquinones opened #985 "copyObject encodes the slash / character needed by S3"
The current copyObject method encodes the object's full path including its forward slashes and therefore we get a
headers['x-amz-copy-source'] = '%2Fname-of-bucket%2Ffile-to-copy.png' which throws an S3 400 error of InvalidArgument.

Should not encode the slashes of the path so the x-amz-copy-source header reads as '/name-of-bucket/file-to-copy.png'

[2021-12-13 21:36] harshavardhana commented on #985
Yes they need to be path encoded not URL encoded - this our bug.

[2021-12-15 08:40] #985 closed

[2021-12-16 04:14] prakashsvmx opened #988 "Investigate mint test failure."
Isolate the test and identify the root cause of the test failure in mint.

[code]

[2021-12-22 08:49] schuricov opened #990 "Not the same answers for upload different files size"
Hello, if I upload little file size it's ok but if it's large file the answer is not the same. What is the problem?

[code]

[2021-12-22 14:35] kannappanr commented on #990
[code]

[2021-12-22 15:15] prakashsvmx commented on #990
I understood the issue. Will send a fix .
@schuricov , @kannappanr

[2021-12-30 04:14] #990 closed

[2022-01-03 16:29] luigibalzano opened #992 "Question about special chars encoding"
Since 0.7.25 the listObjectsV2 function includes a call to a sanitizeObjectKey for each Contents (i.e. file).

https://github.com/minio/minio-js/blob/516f9336356d90a6a84dc41075b3457886c56633/src/main/xml-parsers.js#L398

The same does not happen for CommonPrefixes (i.e. folders), and this means that special chars are decoded only for files and not for folders.

Is this the expected behavior?

Exam

[2022-01-04 03:41] prakashsvmx commented on #992
@luigibalzano thank you for reporting.  :+1:
Will investigate and send a fix.

[2022-01-06 18:28] #992 closed

[2022-01-08 05:02] #988 closed

[2022-01-08 22:42] naimGur opened #994 "Can't set up and run Javascript SDK"
Hello, I am following the [Docker Documentation](https://docs.min.io/docs/minio-docker-quickstart-guide.html) and [Javascript SDK Documentation](https://docs.min.io/docs/javascript-client-api-reference.html). It just won't come together. Just can not set up the SDK. Here is my work:

I set up the docker container with the configuration below (as in the docs, except for the image that I provide. (I

[2022-01-09 04:24] prakashsvmx commented on #994
Could you try with `useSSL: false` as in the documentation?

[2022-01-09 10:45] naimGur commented on #994
@prakashsvmx thanks, but the situation is the same in both attempts.
I set up the distributed mode, I was able to connect via browser, but not with the Javascript SDK again. And `useSSL: false` did not fix it. Thanks anyways!

[2022-01-10 03:14] prakashsvmx commented on #994
@naimGur ,

Please find the steps followed and works without any issues:

[code]

#### Test with mc client

[code]

[code]

#### Test with minio js SDK:
[code]

#### Verify it with mc as well
[code]

[2022-01-10 03:16] #994 closed

[2022-01-12 17:41] #895 closed

[2022-01-23 17:07] LetsMelon opened #995 "`putObject` returns weird string but not an object `{ etag: 'xyz', versionId: null }`"
When I upload a small file ( <100MB) with `putObject` it returns something like `{ etag: '6cfd704e79b8ac04f6a0fb1f29f5e0e2', versionId: null }`, but when I try to upload a file with more than 200MB the same line returns only a number like this: `5f4b7382490c6471b3bdedad2f05d050-6`.

I can upload the same file via browser and Minio accepts the file. I'm not sure if this is even an error, but I have

[2022-01-23 18:17] harshavardhana commented on #995
This is the ETag for the multipart object @LetsMelon - etag is not meant to be md5sum of the object always https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

### ETag

The entity tag represents a specific version of the object. The ETag reflects changes only to the contents of an object, not its metadata. The ETag may or may not be an MD5 digest of the object data. Whe

[2022-01-23 18:17] #995 closed

[2022-01-24 07:31] hassanascend commented on #617
Can you explain it little bit more

[2022-01-24 08:37] prakashsvmx commented on #617
fPutObject is designed to stream content from native filesystems .

e.g if node sdk is in  node environment, the sdk would stream the file contents to minio or s3 compatible object storage if a path/stream is passed.

[code]

[2022-01-26 07:15] shahidcodes opened #996 "Generating presigned url with ACL"
Hi,

I am trying to generate a presigned url for the frontends to upload files. However I did not find in the docs how to create a url with ACL set to 'public-read'.

I tried passing through `reqParams` but it did not work.

[code]

I want to do something similiar like here https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/modules/_aws_sdk_s3_presigned_post.html#generate-a-presigned-post but

[2022-01-26 07:25] harshavardhana commented on #996
We do not really support ACLs on MinIO - and we discourage its usage. @shahidcodes - it is better to set read-only bucket policies on specific prefixes instead.

Do this on DigitalOcean as well.

[2022-01-26 07:25] #996 closed

[2022-01-26 07:29] shahidcodes commented on #996
Got it. What may be the reason to not use public-read ACL for file basis than the whole bucket?

[2022-01-27 06:20] PaPerM7 opened #997 "presigned url size limit"
hello, is there a way to set a upload size limit for presigned urls that i'm generating?

[2022-01-27 06:22] harshavardhana commented on #997
set the appropriate content-length as part of the presigned headers and you can restrict the size of the upload.

[2022-01-27 07:24] PaPerM7 commented on #997
can i do that when i'm generating the presigned url? is there some setting or options to set content-lentgh  or should i just add it manually?

[2022-01-27 07:56] prakashsvmx commented on #997
https://raw.githubusercontent.com/minio/minio-js/9994dea80593456d4bc1a208611c351e0ca92d8e/examples/presigned-postpolicy.js

Please have a look at the example.

[2022-01-27 14:58] #997 closed

[2022-02-02 04:44] #818 closed

[2022-02-02 04:44] #841 closed

[2022-02-02 04:44] #928 closed

[2022-02-02 06:54] CanRau commented on #588
Had to use `mc policy set download alias/bucket/`

note the `set` after `policy`

[2022-02-02 07:45] prakashsvmx commented on #588
@CanRau

some built in policies are provided for ease of use and convenience.

Please check
https://docs.min.io/docs/javascript-client-api-reference#setBucketPolicy

you could export the policy using `mc` and use/modify or create a new policy and apply it as per your requirements.

[code]

[2022-02-03 07:35] mwojt-platige opened #1001 "How to match signature when using pre-signed URL?"
I'm following the [tutorial](https://docs.min.io/docs/upload-files-from-browser-using-pre-signed-urls.html) on uploading files to S3 storage. I'm running a local instance of min.io in a Docker container. My application is running a simple express.js server with an endpoint that generates the URL:

[code]

I'm using this endpoint inside a React app, which is supposed to upload the file into the S3

[2022-02-03 07:54] prakashsvmx commented on #1001
Please check the headers like host and and any other headers that might interfere the s3 signature calculation

[2022-02-03 09:39] mwojt-platige commented on #1001
I'm using minio-js 7.0.26 and for the minio server I'm using Docker image tagged RELEASE.2022-01-28T02-28-16Z

I'm testing the endpoint with Postman, I think the Host header is calculated internally. What should be the correct value for this header?

[2022-02-10 08:20] yungxiaomcc opened #1002 "cannot build with vite"
I use minio.js in my vue+vite project，but when i tried to create clinet ,occured error:

_stream_readable.js:48
       Uncaught ReferenceError: global is not defined
    at node_modules/readable-stream/lib/_stream_readable.js (_stream_readable.js:48:21)
    at __require (chunk-OYVF2PGL.js?v=c8651b20:10:50)
    at node_modules/readable-stream/readable-browser.js (readable-browser.js:1:28)
    at __

[2022-02-10 08:46] ar4hc opened #1003 "npm install gives dprecation warning for querystring"
[code]

Low impact, i guess...

[2022-02-10 14:48] prakashsvmx commented on #1003
We will check the impact and update it as soon as possible

[2022-02-10 17:55] #846 closed

[2022-02-11 07:36] Hbuilderx opened #1004 "How to use async to turn presignedGetObject to synchronous"
because there are too many callback functions, I don't want to use too much nested code

I create an async function named  `getPutUrl`

[code]
then,I call it

[code]
I hope get the presignedUrl, but the console is

![image](https://user-images.githubusercontent.com/38787896/153552986-7b8fc67e-eb8e-41a7-a434-2dbf9a5c686b.png)

[2022-02-15 09:52] fishbar opened #1005 "[bug] parallel calling fGetObject(). with local cache will cause unexpected error when"
the local tmp file for speed up  download is dangeruos！ when the fGetObject() is parallel called with same arguments,
the cache file will be polluted， the cache file will be filled with origin file’s fragment in chaos order（deps on each caller network loading speed）
![image](https://user-images.githubusercontent.com/981128/154036148-d506577e-6886-41cb-a42b-29081ae754e7.png)

node js example:
![ima

[2022-02-16 08:23] luesp15 opened #1006 "removeObject folder give success but doesn't remove the folder"
Hi everyone,

I'm trying to use the removeObjects API to delete a folder from my bucket. The API replies with 200 OK, but in reality the folder has not been removed.

This is the API i'm calling, where objetsList is a list of file's name:
[code]

Do you have any suggestions?

Thanks

[2022-02-16 14:17] prakashsvmx commented on #1006
Is versioning enabled ?
`mc admin trace` , miniojs, minio versions would help as well

[2022-02-16 15:31] luesp15 commented on #1006
Hi,

I didn't know that it is possible to delete a folder only if is empty.

Now I solved.

Thanks for the support!

[2022-02-16 16:22] prakashsvmx commented on #1006
Thank you.

[2022-02-24 04:16] liu-xinhui opened #1009 "How to get the upload progress？"
js client most time for web browser, I think give the user upload progress is amicable

but minio cannot get progress，I want use presignedUrl to upload by my own httpclient，but cannot deal multiple parts file，like 1GB。

Did mini-js have the plan to provide progress on putObject？

[2022-03-28 17:49] bttger opened #1010 "The querystring API is considered Legacy"
Just got a message from npm that the querystring API is considered legacy. The minio JS client relies on it.

[code]
https://www.npmjs.com/package/querystring

[2022-03-29 11:18] powerjett opened #1011 "Cannot upload file with size 0"
For example, I have a file with a size of 0; When uploading, it does not terminate or report an error; You can reproduce the bug yourself; For example, create a new test.txt, do not enter any content;

[2022-04-04 04:59] prakashsvmx commented on #1011
Please add more details
MinIO Version
minio-js version

**It is working as expected**:

[code]

Verify it with `mc`

[code]

[2022-04-04 04:59] #1011 closed

[2022-04-04 04:59] prakashsvmx commented on #1010
@bttger We will upgrade soon. Thank you

[2022-04-04 05:00] prakashsvmx commented on #1009
Please feel free to send a PR. We will try to add it in the near future.

[2022-04-04 05:22] prakashsvmx commented on #1010
Duplicate of #1003

[2022-04-04 05:22] #1010 closed

[2022-04-09 20:43] mrcMesen commented on #795
@kanagarajkm hey thanks, Is there any update to use minio-js in React Native ?

[2022-04-10 01:27] ikreymer opened #1015 "Not compatible with node version >= 16.8"
With the 7.0.27 release, getting:

[code]

Looks like this restriction was added here: https://github.com/minio/minio-js/pull/960/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R26

Is this a typo or minio not compatible with later versions of node? I have been using 7.0.26 with no issues.

[2022-04-10 09:03] prakashsvmx commented on #1015
I will test and update

[2022-04-10 14:55] prakashsvmx commented on #1015
@ikreymer  we support only LTS Versions. Please use one of them.

[2022-04-10 14:55] #1015 closed

[2022-04-10 15:33] avanderpluijm commented on #1015
Current node LTS version seems to be 16.14.2. https://nodejs.org/en/download/

[2022-04-10 17:21] ikreymer commented on #1015
Yes, support LTS would be sufficient for my use case as well. The initial issue occurred when I was installing the latest Node LTS, then also tried locally to get that error message.

Since LTS version will be Node 16 for a few months, perhaps it could be set to `<17` until the next LTS version becomes active? I didn't encounter any issues using 7.0.26 with the latest LTS version.

[2022-04-10 18:17] W4G1 opened #1017 "Add support for latest Node LTS version (v16.14.2)"
Related to #1015 but has been closed.

Latest long term support version of Node is v16.14.2 (See: https://nodejs.org/en/)

[2022-04-11 12:03] philling opened #1019 "Has minio-js supported sse-c for getObject and presignedUrl?"
Minio-js has supported sse-c for putObject,but not yet for getObject or presignedUrl?

[2022-04-11 12:13] prakashsvmx commented on #1019
@philling
could you please try:

[code]

[2022-04-11 12:45] davidmehren commented on #1017
Thanks for the fix in #1018!
This fixes compatibility with Node 16, but with Node 17 still produces an error on install, as the engine string says `< 17`. I'm not sure if this is intentional or should say `<= 17`, but the PR title suggests the latter.

[2022-04-11 13:30] philling commented on #1019
code: 'SignatureDoesNotMatch',

[2022-04-11 13:34] philling commented on #1019
@prakashsvmx I Had tried it, but The following error is still prompted：

[2022-04-11 13:38] philling commented on #1019
@prakashsvmx here is codes

      client.getObject(
        this.bucket,
        finalFileName,
        {
          etag,
          versionId,
          'X-Amz-Server-Side-Encryption-Customer-Algorithm': 'AES256',
          'X-Amz-Server-Side-Encryption-Customer-Key': xKey,
          'X-Amz-Server-Side-Encryption-Customer-Key-MD5': xKeyMd5
        },
        (error, readerStream) => {
          if

[2022-04-11 14:45] prakashsvmx commented on #1017
I will  test and send across a PR . thank you.

[2022-04-12 10:01] Zoomkun opened #1021 "There is a problem with breakpoint transfer"
![image](https://user-images.githubusercontent.com/21444885/162934491-2d2fdd59-7171-46f6-8a75-d91b6fe62baa.png)
In the listpart method, the part you return is NaN, so the previously uploaded slices cannot be used and need to be re-uploaded.

[2022-04-13 11:06] ar4hc opened #1022 "upgarde from minio 7.0.26 of 7.0.27 failed on node v17.9.0"
Upgrade with pnpm  failed with this error:

[code]

latest commit of minio states that it should be compatible with node 17...?

PS:
the lock file has:
[code]

[2022-04-13 11:27] prakashsvmx commented on #1022
The PR has been merged https://github.com/minio/minio-js/pull/1020  Please wait for the release.

@ar4hc thank you

[2022-04-15 07:45] powerjett opened #1023 "putObject method Unable to capture error events for readable streams"
minioClient.putObject('111', 'asdasdas/dasdasdasdas.xxxx', stream, (err, data) => {
    console.log(err, data)
  })

stream is error  ; the console it not  output;

need add it

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/101614103/163541306-b9bb8919-4d69-4684-b69b-c17c77df49d8.png">

[2022-04-15 09:21] #1023 closed

[2022-04-19 04:18] ngochieu642 opened #1024 "CopySourceOptions, CopyDestinationOptions is not a constructor"
## Description

**Dependencies from package-lock.json**
[code]

**minimal reproducible example**
[code]

**Error**
(node:492239) UnhandledPromiseRejectionWarning: TypeError: minio_1.CopySourceOptions is not a constructor

[2022-04-19 09:18] prakashsvmx commented on #1024
Please update the import statements like in [examples](https://github.com/minio/minio-js/blob/master/examples/compose-object.js).

e.g.
` var Helpers = require("../dist/main/helpers")`

use it like:

`new Helpers.CopySourceOptions( {})`

we will try adding all module/import  builds in near future.

[2022-04-19 09:18] #1024 closed

[2022-04-20 09:46] CristianMG commented on #1022
Hi, The minio package is incompatiblen for now with nestjs. This is a big problem for us, ¿It would be possible release a hotfix with this change? @prakashsvmx

[2022-04-20 13:28] prakashsvmx commented on #1022
For priority releases /fix please explore min.io/pricing

[2022-04-21 10:42] r4dul opened #1025 "error minio@7.0.27: The engine "node" is incompatible with this module. Expected version ">8 <16.8.0". Got "16.14.2""
npm view minio version
7.0.27
node -v
v16.14.2

I get the error from the title when trying to create a docker image.
I'm using node:lts-alpine as base image, which uses node version: v16.14.2.

[2022-04-21 11:03] r4dul commented on #1025
I think I will answer myself:
I see that in minio 7.0.26 in package.json we have:
 "engines": {
    "node": ">= 4"
  }
In the case above minio package shall work with node version v16.14.2
While in version 7.0.27 we have in package.json:
  "engines": {
    "node": ">8  <16.8.0"
  }
and that's why an error will be thrown.

While I saw that the issue was fixed here: https://github.com/minio/minio-js

[2022-04-21 12:39] prakashsvmx commented on #1025
It would be released soon. So you could wait. Closing this as there are issues to track same issue.

[2022-04-21 12:39] #1025 closed

[2022-04-21 17:35] maon-fp commented on #1017
Could someone please release this change it'll be helpful to have it on npm ...

[2022-04-25 20:05] leehendricks opened #1026 "composeObject fails for S3 when versionId is empty"
Problem:

When using s3 without object versioning, `composeObject` fails with a Bad Request. The culprit is the resulting query string in `statObject`:

`?versionId=`

minio does't seem to have a problem with this request, but s3 balks.

Solution in `composeObject`:

[code]
This would be consistent with how `getHeaders` behaves in `CopySourceOptions:`

[code]

Workaround:

Set CopySourceOptions.Ve

[2022-04-26 03:54] prakashsvmx commented on #1026
@leehendricks . Thank you for the details :+1: . I will take a look soon.

[2022-04-27 12:28] prakashsvmx commented on #1017
This has been released. @maon-fp . PTAL

[2022-04-27 12:28] #1017 closed

[2022-04-27 12:28] prakashsvmx commented on #1021
The fix has been merged. PTL .

[2022-04-27 12:28] #1021 closed

[2022-04-27 12:29] prakashsvmx commented on #1022
The release has been done. PTL.

[2022-04-27 12:29] #1022 closed

[2022-05-01 15:40] #1026 closed

[2022-05-02 13:39] Luca8991 commented on #1002
I'm getting the exact same error with vanilla-ts + vite

[2022-05-12 17:14] a3957273 opened #1031 "Documentation on how to use `transport` parameter"
Is it possible to use an `httpsAgent` as a custom transport to `Minio`?  It seems as if Minio takes a transport as a string, but it isn't documented anywhere.  What does this transport represent?

Is it possible to use our own agents, e.g:

[code]

At the moment, this breaks with `request` not being defined on agent.

[2022-05-13 07:34] prakashsvmx commented on #1031
based on ` useSSL: true,`  the transport would be  `http` or `https` internally.  is there a specific requirement for something more ?

[2022-05-15 14:15] garronej commented on #1009
Hi 👋🏻
+1
It would be really nice for us too to have a way to display precise upload progress.

https://filedn.com/lYPEPucNMheV19aDu23lK0Q/INSEE/Screen%20Recording%202022-05-15%20at%2016.11.52.mov

Best regards,

[2022-05-28 22:42] OmerSabic opened #1032 "Authorization on presigned URL"
I have a set of users that access my content. I want to create a separate presigned URL for each user and make sure only that user can access it (by checking their auth token inside the cookie). If they share it with someone, they would also need to share their account.

Any way of doing this or would it need to be implemented?

[2022-05-30 12:44] LucBrungard opened #1033 "presignedUrl generate XML file with error instead of generating error in callback"
Hello everyone,
I'm working on a **NestJS** API using **Express** structure. I'm trying to generate a link from an object in a bucket with the function **presignedGetObject**.
I intentionally put a wrong objectName to see if i handled the error like I wanted but it occurs that the f**unction send back an url containing a XML file with the error I should get in my callback** : `NoSuchKey`
[code]

H

[2022-05-30 14:55] joaofranciscosantos opened #1034 "Presigned Url missing user defined metadata feature"
The PostPolicy is missing user defined metadata restrictions. https://docs.aws.amazon.com/AmazonS3/latest/userguide/UsingMetadata.html

 To be more specific, https://github.com/minio/minio-js/blob/master/src/main/minio.js#L3586-L3651, it should have another method for custom metadata.

Lets say I want to add metadata key-value called: `{request: 'abc'}`

Just like https://github.com/minio/minio-js

[2022-05-30 15:19] prakashsvmx commented on #1034
@joaofranciscosantos  Will investigate and send a fix soon.
Thank you.

[2022-06-01 12:05] powerjett opened #1035 "xml-parser.js have a bug;"
![image](https://user-images.githubusercontent.com/101614103/171400363-683a17e1-ce77-4205-bca4-c6fdfb0eb571.png)

[2022-06-02 05:06] powerjett commented on #1035
latest version is ok, i upgrage sdk version now; ^_^

[2022-06-02 05:07] #1035 closed

[2022-06-02 05:17] powerjett commented on #1011
Sorry, I made a mistake

[2022-06-02 16:45] optimus-kart commented on #814
is this still the case?

[2022-06-02 16:48] prakashsvmx commented on #814
@optimus-kart  Please use https://github.com/minio/madmin-go for all admin APIs. there are no other language specific implementation . may be mino-java has some references for few of the admin APIs.

[2022-06-02 16:54] optimus-kart commented on #814
@prakashsvmx are there are REST API docs available for admin apis incase we want to implement any clients on our own? o

[2022-06-08 12:16] baptisteArno opened #1037 "Set max file size for `presignedPutObject`"
How can I make sure a file larger than 10 MB isn't uploaded to a presigned PUT request?

I don't see any options to do that with the [presignedPutObject](https://docs.min.io/docs/javascript-client-api-reference.html#presignedPutObject) method.

[2022-06-08 12:30] prakashsvmx commented on #1037
Not sure if i understand the requirement fully.

may you Please have a look at : https://github.com/minio/minio-js/blob/06e408198fb9000406cc5b2facb50a3276f81df1/src/test/functional/functional-tests.js#L986

[2022-06-08 13:26] vadmeste commented on #1037
AFAIK, limiting upload objects with PUT is not possible in AWS S3. You will need to use POST instead.

[2022-06-08 18:48] joaofranciscosantos commented on #1034
I'll update PR soon. I'm also adding Content-Disposition restricition in PostPolicy.

As before, confirm everything is correct

[2022-06-09 07:03] baptisteArno commented on #1037
Thank you for the info @vadmeste

So I tried to switch to a POST presigned URL instead:

On my server:
[code]

Then calling this URL on my client:
[code]

It fails with a `BadRequest` code.

I couldn't find any doc about the `presignedUrl` method. What am I missing?

[2022-06-11 13:44] louwers opened #1038 "Region hardcoded in `listBuckets`"
The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'nl-ams'.

Trying to connect to Scaleway S3-compastible storage. When I specify a `region` property or leave it out, I get:

See code below.

[code]

[2022-06-11 14:48] louwers commented on #1038
Yeah OK not super surprising, the region is hardcoded:

https://github.com/minio/minio-js/blob/master/src/main/minio.js#L654

[2022-06-11 15:03] harshavardhana commented on #1038
Its not, you need to pass the right region. We can't guess region for your deployment.

[2022-06-11 18:41] louwers commented on #1038
@harshavardhana As you can clearly see in the linked source code, it is hard coded.

When I pass in the region the behavior doesn't change.

[2022-06-11 18:41] louwers commented on #1038
[code]

[2022-06-11 18:46] louwers commented on #1038
Changing it to `this.region` fixes the problem.

[2022-06-11 22:20] harshavardhana commented on #1038
Yes this shouldn't be hardcoded @louwers - we will fix it.

[2022-06-12 00:08] prakashsvmx commented on #1038
We will send a fix soon for using the configured region param. Thank you @louwers

[2022-06-14 06:39] yuhaozhai commented on #1002
same

[2022-06-16 10:37] joaofranciscosantos opened #1040 "bug: Presigned url content disposition"
There're at least 2 related bugs when calculating signature when you supply content disposition.
If content disposition is, for example `attachment; filename="qwew.png";` I'm able to generate presigned url and I can download file.

However, if I supply `attachment; filename="qwew.png"; filename*=UTF-8''qwew.png;`, It won't work. Problem seems to be with `*` character. I get XML 403 SignatureDoesNo

[2022-06-16 11:18] joaofranciscosantos commented on #1040
I found that if I encode special charaters in filename it will work but I still have problem with `filename*`.
I cannot do `filename%21` in header because browser won't recognize it.

[2022-06-16 16:05] joaofranciscosantos opened #1041 "Bug: sns response key"
Under `Records[0].s3.object.key`, the `/` is being escaped to `%2F`. If I try to do a GET operation with minio sdk that requires this key, it will return `S3Error: Not found`

NOTE: the aws sdk returns this field with a slash.

I only added the relevants fields as an example
[code]

[2022-06-16 16:09] prakashsvmx commented on #1041
We will investigate this.
[code]

[2022-06-17 08:51] cfmj opened #1042 "[FEATURE ]Does minio plan to support esm?"
**Is your feature request related to a problem? Please describe.**
Does minio plan to support esm?

**Describe the solution you'd like**
 support esm

[2022-06-18 13:58] cfmj commented on #1042
Use in the browser environment

[2022-06-18 21:49] harshavardhana commented on #1042
For now no @cfmj however you can compile browser.js JS equivalent, there are some APIs that won't work are

FGetObject
FPutObject

Rest of them work.

[2022-06-19 14:44] cfmj commented on #1002
same error

[2022-06-20 11:33] prakashsvmx commented on #1042
@cfmj  i have a react example https://github.com/prakashsvmx/minio-js-web-browser-example

[2022-06-20 15:06] #1042 closed

[2022-06-20 15:22] jpchev opened #1043 "javascript client takes too much memory upon call to putObject"
I'm trying to upload a 1Gb file through the minio Javascript client running in a nodeJs application. The memory goes up to 1.5 Go, which is unexpected (even more than the file size).

## Expected Behavior
The memory of the application running the minio client should not exceed the file size, and should stay below a maximum limit (to be defined in a parameter).

## Current Behavior
I call the putOb

[2022-06-20 16:23] prakashsvmx commented on #1043
@jpchev  Thank you
and could you please provide more details on how exactly the upload was performed? also the sdk version used.

i have tried locally (2+ GiB) file upload and below are the results. also with system process monitor , no spike was observed.

( i  ran it against a distributed setup).  `./minio server ~/mindata22000/d{1...4} --address ":22000"`  on Ubuntu.

[code]

The code used:
[co

[2022-06-21 07:38] jpchev commented on #1043
hi, thanks for your answer, I started minio in a docker container as follows

[code]

the minio server is running with the version RELEASE.2022-05-04T06-07-55Z

then I use the following code running in a nodejs application

[code]

[2022-06-21 08:25] prakashsvmx commented on #1043
I just ran with docker to replicate the issue , but it could not be replicated. also please observe that the memory usage in all the attempts are similar and no spikes observed.

#### Distributed Mode:
[code]

Memeory Usage :
[code]

#### Standalone  mode:

[code]

Memeory usage
[code]

[2022-06-21 08:26] prakashsvmx commented on #1043
You could also capture the trace from SDK with `s3Client.traceOn()` just after initialization and share.

[2022-06-21 08:56] jpchev commented on #1043
this is the result of the mc admin trace

[code]

this is the memory used, before and after putObject

[code]

[code]

[2022-06-21 09:09] jpchev commented on #1043
yes, now I don't have crashes anymore, still I don't understand why the memory gets filled up to 1.5 Gb, I'm probably misconfiguring something

[2022-06-21 09:17] prakashsvmx commented on #1043
the difference i observe is the  part size  and number of parts  ( parts were more in number (~33) and ~64 MB size when i tested locally for 2GB).

[2022-06-21 09:20] prakashsvmx commented on #1043
i left it for the defaults. did not customize the part size when running the tests.

[2022-06-21 09:24] jpchev commented on #1043
this is the memory usage, tracked down with clinic profiler
![image](https://user-images.githubusercontent.com/26403687/174765985-b0d3fc2b-7516-47f3-aa6f-2b9d1846dc24.png)

[2022-06-21 10:14] prakashsvmx commented on #1043
I have not been able to replicate the issue.  could you also share some details on the system config RAM, nodejs version and any node js memory constraints ?  and yes you could try with latest version of SDK.

[2022-06-21 11:49] #1043 closed

[2022-06-21 11:56] jpchev commented on #1043
thanks for your investigation, but I don't think multer is the culprit, because when I replace the call to _putObject_ by a write to a file the memory stays very low, and multer is still used.

Btw, why is version 7.0.29 not available as a npm package on public repository? Or should I add some extra npm repositoy to install it? I'd like to avoid building from source

[2022-06-21 11:57] prakashsvmx commented on #1043
the latest is 7.0.28 release. please use it. we will make a new release as soon as possible.

[2022-06-21 11:59] prakashsvmx commented on #1043
Also as per the multer doc

[2022-06-21 12:02] jpchev commented on #1043
I've tested the 7.0.28, it helped lowering the memory usage from 1.5 Gb to 1Gb, I'd like to see a much better gain

[2022-06-21 12:03] jpchev commented on #1043
I know, actually I don't store files in memory, I wrote a custom storage manager which is supposed to stream data up to minio, and it works correctly if I replace the call to _putObject_ by a write to a file.

[2022-06-21 15:07] prakashsvmx commented on #1043
Could you please share a piece of code for

I would try to use it for replicating ...

https://github.com/prakashsvmx/minio-js-multer-demo

Please have a look at the code i have created and tried so far for the previous comments.  Feel free to modify as per your needs , so we could replicate it.

[2022-06-21 17:22] prakashsvmx commented on #1043
Yeah. i can confirm that the request always retains the file stream. not sure there is a way to close in multer.
below code without minio putObject demonstrating the retention of memory as you have observed.

[code]

[code]
### output post completion of request.

[code]

[2022-06-21 17:22] prakashsvmx commented on #1043
I do find similar issue references in the multer repo . so please double check

[2022-06-22 08:22] jpchev commented on #1043
in your example you use the `concat `function, which is supposed to concatenate all the data from the stream, so it's not a surprise that you see the memory fill up.

Please try the following code instead, which does not use putObject and implements a custom writeable stream. At the end of this code the memory stays very low

[code]

[2022-06-23 07:29] jpchev commented on #1043
@prakashsvmx do you have news? Could you run my latest code and see the memory?

[2022-06-23 08:23] prakashsvmx commented on #1043
I have not been able to replicate in an isolated trials ( ie. without multer like framework) of uploading large files  (multiple files) parallelly.  But i will try to investigate further and see if i get any clues.

[2022-06-23 08:29] jpchev commented on #1043
in my latest code I use multer and a writable stream, without calling the sdk function `putObject`. I don't see the memory filling up, so multer is not the culprit

[2022-06-23 13:16] prakashsvmx commented on #1043
I further used `https://github.com/airbnb/node-memwatch`  to monitor any leakage .. 14 GB File for upload.
( my syststem had only ~2GB RAM free) - still could not observe any memory spike, or crash.

<summary> and the results </summary>

<details>

[code]

[code]
### Heap diff dump
[code]

[code]

</details>

[2022-06-23 20:25] jpchev commented on #1043
@prakashsvmx can you please test my latest code and print the output?

[2022-06-27 09:42] jpchev opened #1045 "javascript client takes too much memory upon call to putObject"
please try the code to reproduce the issue of https://github.com/minio/minio-js/issues/1043#issuecomment-1162800754_

[2022-06-27 20:36] maybesmurf opened #1046 "Add method to test if connection is ok"
It would be nice to initially test if the connection is ok at application start up

[2022-06-28 02:47] prakashsvmx commented on #1046
In general such feature is not part of any sdk.
it could be achieved via https://docs.min.io/minio/baremetal/monitoring/healthcheck-probe.html

[2022-06-28 02:47] #1046 closed

[2022-07-04 14:20] bochen87 opened #1049 "licensing question"
If we are using the plain vanilla min.io docker image (which is AGPL 3.0) and do nothing aside from configuration and we integrate it into our app using this minio-js adapter (which is Apache 2.0) as library, are we facing any copyleft issues with our web application?

[2022-07-04 15:08] prakashsvmx commented on #1049
Any derivative product needs to comply with AGPL v3. i.e MinIO is Open source for Open source Applications. so the application code needs to be open sourced.

https://min.io/compliance

[2022-07-04 15:08] #1049 closed

[2022-07-04 16:01] bochen87 commented on #1049
ok, understood. Just out of interest: how can this JS adapter then be apache 2.0 license?

[2022-07-05 03:05] prakashsvmx commented on #1049
@bochen87 we request you to consult your organization's internal legal team on the compatible licenses. we would not be able to provide detailed legal advise on the licensing. When in doubt, it is better to obtain a commercial license  [min.io/pricing](https://min.io/pricing?ref=minio-js) to protect the organization and its customers if any,  from legal liabilities.

[2022-07-05 13:09] draentropia opened #1050 "ENOENT Warnings"
Hi there,

I'm trying to show my buckets in a ReactJS application. After JUST importing the minio module using `import * as minio from minio` I'd deployed the app, getting a lot of warnings. See here one example:
`WARNING in ./node_modules/minio/dist/main/xml-parsers.js
Module Warning (from ./node_modules/source-map-loader/dist/cjs.js):
Failed to parse source map from '/home/blabla/myapp/node_modu

[2022-07-05 13:34] prakashsvmx commented on #1050
you could add `GENERATE_SOURCEMAP=false` in env file.

[2022-07-05 17:03] draentropia opened #1051 "Uncaught (in promise) ReferenceError: process is not defined"
Hi there!

When I go to call the Client constructor, I'm getting this error: `Uncaught (in promise) ReferenceError: process is not defined`

I was navigating to find the proper way to fix it but I didn't managed it. Did somebody faced something like this?

Here some info of my system:
Ubuntu 22.04
packages:
    "browserify-zlib": "^0.2.0",
    "buffer": "^6.0.3",
    "crypto-browserify": "^3.12.0"

[2022-07-05 17:07] prakashsvmx commented on #1051
looks like it is used in non node environment build. is it vite build?

[2022-07-05 17:08] prakashsvmx commented on #1051
Also a working react example with MinIO : https://github.com/prakashsvmx/minio-js-web-browser-example

[2022-07-05 19:53] draentropia commented on #1051
Is in ReactJS. To run it I use npm start. Should it work with npm build?

El mar., 5 jul. 2022 19:07, Prakash Senthil Vel ***@***.***>
escribió:

[2022-07-06 05:26] draentropia commented on #1051
as an autoresponse from my last comment. It didn't work.